@import "../../../../assets/scss/base";

.scrolled {
  footer {
    .btn_sticky {
      @media (max-width:991px){
        @include position($fixed, $bottom:0, $left:0, $right:0);
        @include transition (all, .5s, ease-in-out, .10s);
        @include transform (translateY(-10px));
        z-index: 111;
      }
    }
    &.add_sticky {
      .btn_sticky {
        @include transform (translateY(0));
        @include position($static);
      }
    }
  }
}

footer {
  padding:30px 0;
  background:$dark-green-color-300;
  .btn {
    min-width: 150px;
  }
}

.footer_btm {
  border-top:1px solid #123733;
  margin-top: 30px;
  padding: 20px 0 0;
  .copyright_text {
    color: $text-color;
  }
}
.footer_links {
  column-gap: 14px;
  @media (max-width:767px){
    padding-bottom: 20px;
  }
  a{
    line-height: 1;
    color: $text-color;
    &:last-child {
      border-right:0;
      padding-right: 0;
    }
    &:hover {
      color: $white-color!important;
    }
  }
}

.email_group {
  @media (max-width:991px) {
    margin: 10px 0 20px;
  }
  a {
    color: $text-color;
    @include font-size (.875);
    @include transition-mixin (all, .5s, ease-in-out);
    &:hover {
      text-decoration: $underline;
      color: $white-color;
    }
  }
  img {
    width: 15px;
    max-height: 10px;
    object-fit: $contain;
  }
}