.premium {
  font-weight: 800;
}
.token {
  color: var(--color-white);
}
.premiumtoken {
  margin: 0;
  height: 43px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.frameChild {
  height: 24px;
  width: 24px;
  position: relative;
}
.supportbeaverswapcom {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.supportbeaverswapcomWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs-5) 0 0;
}
.frameParent,
.iconAssemblerXXX,
.supportbeaverswapcomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.iconAssemblerXXX {
  height: 33.5px;
  width: 196px;
  flex-direction: column;
  padding: var(--padding-3xs-5) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--a7d7cf);
}
.footer,
.premiumtokenParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.premiumtokenParent {
  width: 1256px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xl-5) var(--padding-xl);
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color);
  font-family: var(--h2);
}
@media screen and (max-width: 925px) {
  .premiumtoken {
    font-size: var(--font-size-10xl);
  }
  .premiumtokenParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .premiumtoken {
    font-size: var(--font-size-3xl);
  }
}
