@import "../../../../assets/scss/base";

.scrolled { 
  @media (max-width:1200px){
    padding-bottom: 184px;
  }
 .bottom_footer { 
    @media (max-width:1200px){
      @include position($fixed, $bottom:0, $left:0, $right:0);
      @include transform (translateY(0));
      z-index: 11; 
    }
  } 
}

footer {
  &.bottom_footer {
    padding:30px 0;
    background:$dark-green-color-300;    
    @media (max-width:1200px){
      @include transform (translateY(100%));
      @include transition (all, .5s, ease-in-out, .10s);
    }
    .btn {
      min-width: 150px;
    }
  }
}

.email_group {
  @media (max-width:1200px) {
    margin: 10px 0 20px;
  }
  a {
    color: $text-color;
    @include font-size (.875);
    @include transition-mixin (all, .5s, ease-in-out);
    &:hover {
      text-decoration: $underline;
      color: $white-color;
    }
  }
  img {
    width: 15px;
    max-height: 10px;
    object-fit: $contain;
  }
}