

.confirmation_modal {
    .icon {
        width: 60px; height: 60px;
        margin: 0 auto 15px;
        img {
            width:22px;
        }
    }
    .btn_group {
        margin: 10px 0;
    }
}