@import "../../../../assets/scss/base";

.video-banner {
    &-description {
        max-width: 90%;
        @media (min-width:1200px) {
            max-width: 778px;
            margin: 0 $auto;
        }
    }
}

.wrapperVideo {
    margin-top: 30px;
    position: $relative;
    background: $white-color;
    background: linear-gradient(to bottom left, rgba($color: $white-color, $alpha: 0.5) 0%, rgba($color: $white-color, $alpha: 0.1) 25%, $body-color 50%, rgba($color: $white-color, $alpha: 0.04) 75%, rgba($color: $white-color, $alpha: 0.35) 100%);
    padding: 1px;
    @include border-radius(25px);
    backdrop-filter: blur(40px);
    @media (min-width:1200px) {
        margin-top: 52px;
    }
    @at-root {
        .play_btn {
            border: 0;
            padding: 0;
            background-color: $transparent;
            @include position($absolute, $top: 50%, $left: 50%);
            @include transform(translate(-50%, -50%));
            img {
                width: 50px;
                height: 50px;
                @media (min-width:1200px) {
                    width: 88px;
                    height: 88px;
                }
            }
        }
    }
}

.video_home {
    @media (max-width:199.99px) {
        @include border-radius (10px);
    }
    @media (min-width:1200px) {
        @include border-radius (25px);
    }
    video {
        @media (max-width:199.99px) {
            @include border-radius (10px);
        }
        @media (min-width:1200px) {
            @include border-radius (22px);
        }
    }
}

.video_banner_bg {
    @include position($absolute, $top: -104px, $right: 0px);
    height: 100%;
    @include opacity (.9);
    z-index: -1;
    @media (max-width:1200px) {
        $top: -72px;
    }
}