@import "../../../../assets/scss/base";

.video-banner {
    @media (min-width:991.99px) {
        padding: 72px 0;
    }
    @media (max-width:991px) {
        padding: 16px 0 30px;
    }
    .heading_title {
        @media (min-width: 991.99px){
            max-width: 780px;
        }
    }
}

.wrapperVideo {
    margin-top: 30px;
    position: $relative;
    display: $inline-block;
    margin-inline: $auto;
    overflow: $hidden;
    @media (min-width:1200.99px) {
        margin-top: 52px;
        @include border-radius(25px);
    }
    @at-root {
        .video_home {
            background: $white-color;
            background: linear-gradient(to bottom left, rgba($color: $white-color, $alpha: .6) 0%, rgba($color: $white-color, $alpha: 0.2) 25%, $body-color 50%, rgba($color: $white-color, $alpha: 0.04) 75%, rgba($color: $white-color, $alpha: .7) 100%);
            backdrop-filter: blur(500px);
            padding: 1px;
            display: $inline-block;           
            @media (min-width:1200.99px) {
                height: 500px;
                @include border-radius (25px);
            }
            @media (max-width:1200px) {
                height: 350px;
                @include border-radius (10px);
            }
            @media (max-width:1200px) {
                height: 270px;
            }
            @media (max-width:575px) {
                height: $auto;
            }
            video {
                background-color: $body-color;
                width: $auto;
                height: 100%;
                @media (min-width:1200.99px) {
                    @include border-radius (25px);
                }
                @media (max-width:1200px) {
                    @include border-radius (10px);
                }
                @media (max-width:575px) {
                    width: 100%;
                    display: $block;
                }
            }
        }
    }
    @at-root {
        .play_btn {
            border: 0;
            padding: 0;
            background-color: $transparent;
            @include position($absolute, $top: 50%, $left: 50%);
            @include transform(translate(-50%, -50%));
            img,
            svg {
                @media (min-width:1200px) {
                    width: 88px;
                    height: 88px;
                }
                @media (max-width:1199.99px) {
                    width: 44px;
                    height: 44px;
                }
                @media (max-width:767px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.video_banner_bg {
    @include position($absolute, $top: -104px, $right: 0px);
    @include opacity (.9);
    height: 100%;
    z-index: -1;
}