// _variable.scss
$font-15:15px;
$normal: normal;
$none: none;
$block: block;
$inline-block:inline-block;
$inline-flex: inline-flex;
$transform:none;
$relative: relative;
$absolute: absolute;
$fixed: fixed;
$sticky: sticky;
$static: static;

$bottom: bottom;
$center: center;
$right: right;
$left: left;
$top: top;
$middle: middle;

$inherit: inherit;
$initial: initial;
$unset: unset;

$capitalize: capitalize;
$uppercase: uppercase;
$lowercase: lowercase;
$underline: underline;

$pointer:pointer;
$visible:visible;
$hidden: hidden;
$scroll:scroll;
$auto:auto;

$contain: contain;
$cover: cover;

$repeat: repeat;
$no-repeat: no-repeat;
