// _theme.scss
* {
    box-sizing: border-box;
}
html {
    scrollbar-width: thin;
    scrollbar-color: $green-light-color-800 $dark-green-color-1000;
    overflow-x: $hidden;
}
body {
    margin: 0;
    background: $body-color;
    font-family: $Lato-font;
    font-weight: $font-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
    @include font-size(1);
    overflow-x: $hidden;
    scrollbar-width: thin;
}
#root {
    overflow: $hidden;
}
.scroll {
    scrollbar-width: thin !important;
    scrollbar-color: $dark-green-color-300 $green-tin-color-700;
}
/* Scroll */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    @include border-radius (10px);
    background-color:$dark-green-color-300;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
ul {
    margin: 0;
    padding: 0;
    list-style: $none;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: 1.3;
    color: $white-color;
    font-weight: $font-mediumbold;
}
h1, .h1 {
    @include font-size(2.5);
    @media (min-width: 1600px) {
        @include font-size(3.125);
    }
    @media (max-width:991.98px) {
        @include font-size(1.5);
    }
}
h2, .h2 {
    @include font-size(1.75);
    @media (min-width: 1600px) {
        @include font-size(1.875);
    }
    @media (max-width: 1199.98px) {
        @include font-size(1.5);
    }
}
h3,
.h3 {
    @include font-size(1.5);
    @media (max-width: 991px) {
        @include font-size(1.35);
    }
}
h4,
.h4 {
    @include font-size(1.35);
    @media (max-width: 991px) {
        @include font-size(1.25);
    }
}
h5,
.h5 {
    @include font-size(1.25);
    @media (max-width: 991px) {
        @include font-size(1.2);
    }
}
h6,
.h6 {
    @include font-size(1.125);
    @media (min-width: 1600px) {
        @include font-size(1.125);
    }
    @media (max-width: 991px) {
        @include font-size(1);
    }
    @media (max-width: 575px) {
        @include font-size(.875);
    }
}
img {
    border: 0;
    height: $auto;
    @include no-select;
}
a,
img,
input,
button {
    outline: 0 !important;
}
a {
    cursor: $pointer;
    color: $text-color;
    text-decoration: $none;
    @include transition-mixin (all, .5s, ease-in-out);
    &:hover,
    &:focus {
        color: $green-tin-color-600;
    }
}
p {
    @include font-size (1);
    color: $text-color;
    line-height: 1.4;
    @media (min-width:1200px) {
        @include font-size (1.125);
    }
    &:last-child {
        margin-bottom: 0
    }
}
span {
    color: $text-color;
}
.container {
    @media (min-width:1400px) {
        max-width: 1140px;
    }
}
$search_icon: url(../icons/search_icon.svg);

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        @include opacity (0);
        cursor: $pointer;
    }
    &::-webkit-inner-spin-button {
        -webkit-appearance: $none;
        display: $none;
    }
    &:-webkit-autofill,s
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $white-color;
        -webkit-background-clip: text !important;
        -webkit-box-shadow: inset 5px 5px 4px #1C544C, inset -5px -5px 4px #1C544C !important;
    }
    &[type="search"] {
        width: 100%;
        background-image: $search_icon;
        background-repeat: $no-repeat;
        background-color: $dark-green-color-700;
        background-position: $center $right 10px;
        background-size: 16px;
        padding: 10px 35px 10px 10px;
        border: 1px solid rgba(56, 153, 137, 0.25);
        @include border-radius (12px);
        min-height: 38px;
        @include font-size (1);
        color: $white-color;
    }
    [type="date"]{
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

// Button CSS
a.btn {
    @include flexCenter;
    display: $inline-flex;
    text-decoration: $none;
}
.btn {
    border-width: 1px;
    white-space: nowrap;
    &[disabled],
    &.disabled {
        pointer-events: $none;
        @include opacity (0.6);
    }
    .transform-none {
        overflow: $hidden;
        position: $relative;
        &::after {
            content: '';
            transition: all 400ms ease-in-out 0s;
            @include position($absolute, $top:0, $left:0, $bottom:0, $right:0);
            height: 0;
            width: 100%;
            background-color: rgba($white-color, .1);
            z-index: 1;
        }
    }
    &:hover {
        .transform-none {
            &::after {
                height: 100%;
            }
        }
    }
    &-lg {
        min-width: 180px;
        padding: 0.5rem 1.5rem;
        font-weight: $font-bold;
        font-size: 18px!important;
        @media (max-width:1200px) {
            @include font-size(1.1);
            min-width: 140px;
            min-height: 42px;
        }
        .transform-none {
            @include flexCenter;
            padding: 0.675rem 1rem;
            @include border-radius (9px);
            width:100%; height: 100%;
            @include font-size (.875);
            min-height: 52px;
            line-height: 1;
        }
    }
    &-md {
        @include border-radius (10px);
        font-weight: $font-bold;
        padding: 0.625rem 1rem;
        @include font-size(1);
        min-height: 44px;
        .transform-none {
            @include flexCenter;
            padding: 0.625rem 1rem;
            @include border-radius (9px);
            width:100%; height: 100%;
            @include font-size (.875);
            min-height: 44px;
            line-height: 1;
        }
        @media (min-width:1200px) {
            min-width: 150px;
        }
    }
    &-sm {
        line-height: 1;
        min-width: 108px;
        min-height: 44px;
        max-height: 44px;
        padding: .55rem 1.2rem;
        @include font-size(.875);
        @include border-radius (8px);
        font-weight: $font-medium;
        @media (max-width:480px) {
            padding: .55rem .75rem;
        }
        @media (max-width:359px) {
            @include font-size(.800);
        }
    }
    &-primary {
        border:0;
        padding: 1px;
        background: linear-gradient(91.03deg, rgba($white-color, 0.11) 1.7248211428523064%, rgba(255, 255, 255, .4) 51.5625%, rgba(255, 255, 255, .15) 100%);
        @include border-radius (10px);
        min-width: 170px;
        .transform-none {
            @include button(rgba(#11342F, 1), $transparent, $white-color);
        }
        .image_renderer {
            margin-right: 8px;
            img {
                max-width: 24px;
            }
        }
        &:hover {
            background-color: $transparent;
        }
        &[disabled] {
            background-color: $grey-color-800;
            border-color: $grey-color-800;
        }
    }
    &-secondary {
        border:0;
        padding: 1px;
        min-width: 170px;
        background: linear-gradient(91.03deg, rgb(50 171 151) 1.7248211429%, rgb(255, 255, 255, .8) 51.5625%, rgb(50 171 151) 100%);
        &:hover {
            background-color: $transparent;
        }
        .transform-none {
            @include button($green-tin-color-700, $transparent, $white-color);
        }
    }
    &-transparent {
        @include button($transparent, $transparent, $white-color);
        &:hover {
            color: $white-color;
            border-color: $transparent !important;
            background-color: $transparent !important;
        }
    }
    &-outline {
        &-primary {
            @include buttonOutline($transparent, $green-light-color-800, $dark-green-color-700);
            box-shadow: 0px 4px 16px 0px rgba(69, 203, 135, 0.25);
            &:focus {
                @extend .btn-outline-primary;
            }
            &[disabled] {
                color: $green-color-400;
            }
            &.text-white {
                color: $white-color!important;
            }
        }
    }
    &-grey {
        background-color: $text-color;
        color: $base-color;
        &:hover {
            background-color: $grey-color-700;
            box-shadow: $none !important;
        }
    }
    &-none {
        background-color: $transparent;
        border: 0;
    }
}

// Input Controls
label {
    line-height: 1.1;
    margin-bottom: 5px;
    @include font-size (1);
    font-weight: $font-medium;
    &.input-label {
        display: $block;
        color: $black-color-4;
        @include font-size (.875);
        font-weight: $font-regular;
    }
}
.form {
    &-control {
        width: 100%;
        height: $auto;
        min-height: 40px;
        color: $white-color;
        padding: 0.50rem .85rem;
        @include font-size (.875);
        font-weight: $font-regular;
        @include border-radius (10px);
        background: #1C544C;
        border: 1px solid #1C544C;
        @include transition-mixin (all, .5s, ease-in-out);
        &:focus {
            box-shadow: $none;
            color: $white-color;
            background-color: #1C544C;
            border-color: #1C544C;
        }
        // &[readonly] {
        //     background-color: $white-color;
        // }
        &.disabled,
        &:disabled {
            @include opacity (.5);
        }
        &::placeholder {
            color: #ACC7C3;
        }
        &::-webkit-input-placeholder {
            color: #ACC7C3;
        }
        &:-ms-input-placeholder {
            color:#ACC7C3;
        }
    }
}

select {
    // background-image: $downArrow;
    background-color: #1C544C;
    color: $white-color;
    background-repeat: $no-repeat;
    background-size: 24px;
    background-position: $center $right 15px;
    padding: 10px 40px 10px 16px;
    -moz-appearance: $none;
    -webkit-appearance: $none;
    appearance: $none;
}

/* Placeholder */
::-webkit-input-placeholder {
    color: rgba($white-color, .5);
}
:-ms-input-placeholder {
    color: rgba($white-color, .5);
}
::placeholder {
    color: rgba($white-color, .5);
}
.error {
    display: $block;
    margin: 5px 0 0;
    line-height: 1.1;
    color: $error-color;
    text-align: $left;
    @include font-size (.85);
    font-weight: $font-regular;
    &-txt {
        @extend .error;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: $none;
}

.text {
    &-small {
        @include font-size (.75);
        display: $inline-block;
        color: $grey-color-800;
        line-height: 1.3;
    }
    &-mute {
        color: rgba($text-color, .7);
    }
    &-orange {
        color: $dark-orange-color-900 !important;
    }
    &-yellow {
        color: $dark-yellow-color-700 !important;
    }
    &-green {
        color: #278C74 !important;
    }
}

.text{
    &-success {
        color: $green-tin-color-600 !important;
    }
    &-warning {
        color: $yellow-color-900 !important;
    }
    &-danger {
        color: $error-color !important;
    }

}

// Avtar
.avtar {
    background: $white-color;
    display: $inline-block;
    position: $relative;
    img {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        @include position($absolute, $top: 0, $left: 0);
        object-fit: $cover;
        object-position: $center;
        z-index: 1;
    }
}

.btn_icon {
    border: 0;
    padding: 1px;
    background: linear-gradient(91.03deg, rgb(23 56 51) 1.7248211429%, rgb(255 255 255 / 25%) 51.5625%, rgb(23 56 51) 100%);
    @include border-radius (10px);
    span {
        background:$dark-green-color-500;
        @include border-radius (9px);
        @include flexCenter;
        height: 100%;
        width: 100%;
        overflow: $hidden;
        position: $relative;
        &::after {
            content: '';
            @include transition (all, 400ms, ease-in-out, 0s);
            @include position($absolute, $top:0, $left:0, $bottom:0, $right:0);
            height: 0;
            width: 100%;
            background-color: rgba($white-color, .1);
            z-index: 1;
        }
        img {
            width: 24px;
            display: $block;
        }
    }
    &:hover{
        span {
            &::after {
                height: 100%;
            }
        }
        path{
            fill: $text-color;
        }
    }
}

.gap {
    &-12 {
        gap:0.75rem;
    }
    &-16 {
        gap:16px;
    }
    &-20 {
        gap:20px;
    }
    &-24 {
        gap:20px;
    }
    &-32 {
        gap:24px;
    }
    &-54 {
        gap:54px;
    }
}
