// _colors

$body-color: #020C0C;
$text-color: #A7D7CF;

$white-color: #ffffff;
$black-color: #000000;

$base-color: #262525;

$green-tin-color-700: #389989;
$green-tin-color-600: #40d1b4;
//dark green
$dark-green-color-300:#061716;
$dark-green-color-400:#102F2B;
$dark-green-color-500:#10302B;
$dark-green-color-600:#133530;
//lighth shade green
$bg-green-600:#001815;
$bg-green-500:#032624;
$bg-green-400:#11433d;
$bg-green-390:#133D38;
$bg-green-380:#1A4B44;
$bg-green-350:#33625d;
$bg-green-300:#407670;
$bg-green-200:#006159;
$bg-green-150:#009b8a;
$bg-green-100:#5fb0a6;




$black-color-4: #474747;
$black-color-5: #666666;
$black-color-6: #001A09;
$black-color-7: #002519;
$black-color-8: #797979;
$black-color-9: #6D6D6D;
$black-color-10: #101828;

$dark-green-color-1200: #06513C;
$dark-green-color-1100: #064F3B;
$dark-green-color-1000: #042F23;
$dark-green-color-950: #054130;
$dark-green-color-900: #054634;
$dark-green-color-850: #002413;
$dark-green-color-800: #0C402E;
$dark-green-color-700: #023624;
$dark-green-color-550: #047857;




$green-color-700: #69CF18;
$green-color-400: #278C74;

$green-light-color-900: #147C63;
$green-light-color-800: #2DA47B;
$green-light-color-780: #73AFA1;
$green-light-color-750: #469A86;
$green-light-color-700: #45CB87;
$green-light-color-500: #04DA8D;
$green-light-color-400: #6EE2AD;
$green-light-color-300: #A0C4BA;
$green-light-color-50: #EEF7EE;

$dark-orange-color-900: #FD6903;

$dark-yellow-color-700: #FFBD00;
$dark-yellow-color-600: #FFC603;
$dark-yellow-color-500: #FFC400;
$dark-yellow-color-300: #FFEC4A;

$yellow-color-900: #FFE604;
$yellow-color-800: #FFC913;
$light-yellow-color-600: #FDF5DD;


$grey-color-800: #A3A3A3;
$grey-color-700: #C1C1C1;
$grey-color-600: #CBD8D5;
$grey-color-500: #D9D9D9;
$grey-color-400: #ddd;
$grey-color-300: #cfcfcf;

$grey-light-color-300: #F3F3F3;
$grey-light-color-200: #F9F9F9;

$sky-color-100:#DCE0FD;

$brown-color-800: #380000;
$brown-color-700: #88390B;

$error-color: #FD3003;
$error-color-700: #FF4040;

$transparent: transparent;