@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h2: Lato;
  --font-roboto: Roboto;
  --font-roboto-mono: "Roboto Mono";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-mini: 15px;
  --h2-size: 30px;
  --h3-size: 18px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lgi: 19px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-6xs: 7px;
  --font-size-mid: 17px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-55xl: 74px;
  --font-size-25xl: 44px;
  --font-size-40xl: 59px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-gray-100: #061716;
  --color-gray-200: #031815;
  --color-gray-300: #020c0c;
  --white-transparent-10: rgba(255, 255, 255, 0.1);
  --black-transparent: rgba(0, 0, 0, 0.8);
  --white-transparent-80: rgba(255, 255, 255, 0.8);
  --white-transparent-40: rgba(255, 255, 255, 0.4);
  --white-transparent-5: rgba(255, 255, 255, 0.05);
  --color-gray-400: rgba(255, 255, 255, 0.25);
  --color-gray-500: rgba(255, 255, 255, 0.2);
  --color-gray-600: rgba(255, 255, 255, 0.11);
  --color-gray-700: rgba(255, 255, 255, 0.03);
  --a7d7cf: #a7d7cf;
  --color-white: #fff;
  --color: #389989;
  --color-darkcyan-100: rgba(56, 153, 137, 0.25);
  --color-darkcyan-200: rgba(56, 153, 137, 0.08);
  --color-darkcyan-300: rgba(56, 153, 137, 0.8);
  --color-darkslategray-100: #42615e;
  --color-darkslategray-200: #175f53;
  --color-darkslategray-300: #133530;
  --color-darkslategray-400: #10302c;
  --color-darkslategray-500: #102f2b;
  --color-darkslategray-600: #0f2f2b;
  --color-darkslategray-700: #083029;
  --color-darkslategray-800: rgba(41, 101, 92, 0.25);
  --color-darkslategray-900: rgba(16, 47, 43, 0.8);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0.25);
  --color-lightseagreen: #52b3a3;
  --color-lightskyblue: #81d4fa;
  --color-orchid: #ba68c8;
  --color-mediumseagreen: #66bb6a;
  --color-mediumaquamarine: #40d1b4;

  /* Gaps */
  --gap-xl: 20px;
  --gap-4xs: 9px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-5xl: 24px;
  --gap-7xs: 6px;
  --gap-6xs: 7px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-76xl: 95px;
  --gap-28xl: 47px;
  --gap-45xl-1: 64.1px;
  --gap-201xl: 220px;
  --gap-8xl: 27px;
  --gap-36xl: 55px;
  --gap-91xl: 110px;
  --gap-81xl: 100px;
  --gap-8xs: 5px;
  --gap-109xl: 128px;
  --gap-9xs: 4px;
  --gap-10xs-9: 2.9px;
  --gap-21xl: 40px;
  --gap-58xl-5: 77.5px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-mid: 17px;
  --gap-61xl: 80px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-35xl: 54px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-110xl: 129px;
  --gap-60xl: 79px;
  --gap-3xs: 10px;
  --gap-83xl: 102px;
  --gap-6xl: 25px;
  --gap-32xl: 51px;

  /* Paddings */
  --padding-11xl-5: 30.5px;
  --padding-xl: 20px;
  --padding-3xs-5: 9.5px;
  --padding-9xs-5: 3.5px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-5xl: 24px;
  --padding-24xl: 43px;
  --padding-162xl-1: 181.1px;
  --padding-99xl: 118px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-75xl: 94px;
  --padding-7xl: 26px;
  --padding-21xl: 40px;
  --padding-42xl: 61px;
  --padding-228xl-1: 247.1px;
  --padding-86xl: 105px;
  --padding-142xl: 161px;
  --padding-26xl-5: 45.5px;
  --padding-27xl: 46px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-28xl: 47px;
  --padding-39xl: 58px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-54xl: 73px;
  --padding-47xl: 66px;
  --padding-35xl-9: 54.9px;
  --padding-17xl: 36px;
  --padding-98xl-5: 117.5px;
  --padding-59xl: 78px;
  --padding-8xs: 5px;
  --padding-260xl: 279px;
  --padding-120xl: 139px;
  --padding-mini: 15px;
  --padding-18xl-5: 37.5px;
  --padding-11xs: 2px;
  --padding-118xl-4: 137.4px;
  --padding-70xl: 89px;
  --padding-13xl: 32px;
  --padding-665xl: 684px;
  --padding-223xl-3: 242.3px;
  --padding-152xl: 171px;
  --padding-138xl: 157px;
  --padding-323xl: 342px;
  --padding-20xl: 39px;
  --padding-smi: 13px;
  --padding-190xl: 209px;
  --padding-117xl: 136px;
  --padding-691xl: 710px;
  --padding-310xl-8: 329.8px;
  --padding-158xl: 177px;
  --padding-195xl: 214px;
  --padding-336xl: 355px;
  --padding-79xl: 98px;
  --padding-209xl-2: 228.2px;
  --padding-129xl: 148px;
  --padding-30xl: 49px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-3xs-8: 9.8px;
  --padding-10xs-2: 2.2px;
  --padding-2xs: 11px;
  --padding-10xs: 3px;
  --padding-46xl: 65px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-60xl-1: 79.1px;
  --padding-16xl: 35px;
  --padding-15xl-9: 34.9px;
  --padding-10xs-9: 2.9px;
  --padding-68xl: 87px;
  --padding-18xl: 37px;
  --padding-38xl: 57px;
  --padding-160xl: 179px;
  --padding-114xl: 133px;
  --padding-96xl: 115px;
  --padding-4xs: 9px;
  --padding-smi-5: 12.5px;
  --padding-sm: 14px;
  --padding-9xl: 28px;
  --padding-45xl: 64px;
  --padding-27xl-3: 46.3px;
  --padding-2xl: 21px;
  --padding-48xl: 67px;
  --padding-10xl: 29px;
  --padding-25xl: 44px;
  --padding-222xl: 241px;
  --padding-223xl: 242px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-81xl: 100px;
  --br-481xl: 500px;
  --br-5xs: 8px;
  --br-6xl: 25px;
  --br-xs: 12px;
  --br-981xl: 1000px;
}
