@import '../../../../../assets/scss/base';

.prize_card {
    border: 0;
    padding: 1px;
    min-width: 170px;
    margin-bottom: 10px;
    @include border-radius (10px);
    background: linear-gradient(91.03deg, rgba(255, 255, 255, .25) 1.7248211429%, rgb(255, 255, 255, .85) 51.5625%, rgba(255, 255, 255, .25) 100%);
    .prize_wrap {
        @include flexbox;
        @include align-items ($center);
        padding: 0.625rem 1rem;
        background-color: $bg-green-380;
        @include border-radius (9px);
        width: 100%;
        height: 100%;
        min-height: 54px;
        position: $relative;
        span {
            @include font-size (.875);
            font-weight: $font-bold;
            color: $white-color;
            line-height: 1;
            margin-left: 12px;
        }
    }
    .win_icon {
        @include position($absolute, $top: 50%, $right: -20px);
        @include transform (translateY(-50%));
        @include flexCenter;
        z-index: 1;
        img {
            width: 100%;
            max-height: 60px;
            object-fit: $contain;
        }
    }
}

// partners
.partners_col {
    .partner_logo {
        @include flexCenter;
        @include flex-direction (column);
        background-color: $white-color;
        @include border-radius (10px);
        padding: 8px 12px 8px 12px;
        .image_renderer {
            margin-bottom: 10px;
            img {
                width: 100%;
                height: 21px;
                object-fit: $contain;
            }
        }
    }
    [class*=col-] {
        margin-bottom: 7px;
        &:first-child {
            .partner_logo {
                background-color: #222121;
            }
        }
        &:nth-child(2) {
            .partner_logo {
                background-color: $black-color;
            }
        }
        &:nth-child(3) {
            .partner_logo {
                background-color: #101315;
            }
        }
        &:nth-child(4) {
            .partner_logo {
                background-color: #382E2F;
            }
        }
        &:nth-child(5) {
            .partner_logo {
                background-color: $white-color;
            }
            .checkbox-label {
                border-color: $black-color;
            }
        }
        &:nth-child(6) {
            .partner_logo {
                background-color: $base-color;
            }
        }
    }
}

.prize_col {
    margin: 15px 0 0;
    label {
        color: $text-color;
        @include font-size (0.725);
        text-transform: $uppercase;
        font-weight: $font-mediumbold;
    }
}

// Date Picker
.react-datepicker-wrapper {
    width: 100%;
}

.PhoneInput {
    display: flex!important;
    input[type="tel"] {
        background-color: $transparent;
        @include font-size (.875);
        color: $white-color;
        border: 0;
    }
}