@import '../../../../assets/scss/base';

.connection-creator {
  padding-top: 42px;
  @media (max-width:575px){
    padding-top: 0;
  }
  .maker-banner {
    @media (min-width:1200px) {
      margin-right: -70px;
    }
    img {
      max-width: 375px;
      @media (max-width:575px){
        max-width:253px;
      }
    }
  }
  .maker-text-col {
    max-width: 476px; 
    @media (max-width:991px){
      margin: 50px $auto 0;
    }
    h2 {
      margin-bottom: 12px;
    }
    p {
      @include para;
      margin-bottom: 0;
      font-weight: $font-medium;
    }
    .link-button {
      border: 0;
      width: 100%;
      min-height: 44px;
      @include border-radius (10px);
      background: $dark-green-color-400;
      @include flexCenter;
      padding: 8px 32px 8px 10px;
      margin:24px 0 32px;
      position: $relative;
      text-align: $center;
      img {
        @include position($absolute, $top: 50%, $right: 16px);
        @include transform (translateY(-50%));
        width: 22px;
        height: 22px;
        object-fit: $contain;
      }
      span {
        color: $text-color;
        text-overflow: ellipsis;
        font-weight: $font-bold;
        @include font-size (1);
        overflow: $hidden;
        line-height: 1.6;
        white-space: nowrap;
        width: max-content;
      }
    } 
  } 
}

.token_info_bg {
  @include position($absolute, $right:0px, $bottom:70%);
  height: 100%; 
  z-index: -1;
  @media (max-width:1200px) {
    $top:-72px;
  }
}