@import '../../../../assets/scss/base';

.connection-creator {
  padding-top: 42px;
  .maker-banner {
    @media (min-width:1200px) {
      margin-right: -70px;
    }
    img {
      max-width: 375px;
    }
  }
  .maker-text-col {
    max-width: 476px; 
    @media (max-width:991px){
      margin: 50px $auto 0;
    }
    h2 {
      margin-bottom: 12px;
    }
    p {
      @include para;
      margin-bottom: 0;
      font-weight: $font-medium;
    }
    .link-button {
      border-radius: 10px;
      background: $dark-green-color-400;
      padding: 8px 32px;
      border: 0;
      @include flexCenter;
      width: 100%; 
      margin:24px 0 32px;
      position: $relative;
      text-align: $center;
      img {
        @include position($absolute, $top: 50%, $right: 16px);
        @include transform (translateY(-50%));
        width: 22px;
      }
      span {
        color: $text-color;
        text-overflow: ellipsis;
        font-size: 16px;
        overflow: hidden;
        font-weight: 700;
        line-height: 24px;
        white-space: nowrap;
        width: max-content;
      }
    } 
  }
  .token-info-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }  
}

.token_info_bg {
  @include position($absolute, $right:0px, $bottom:70%);
  height: 100%; 
  z-index: -1;
  @media (max-width:1200px) {
    $top:-72px;
  }
}