.bgBlurIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 45px;
  top: -16px;
  transform: scale(1.193);
}
.wrapperBgBlur {
  height: 788px;
  width: 1145px;
  position: absolute;
  margin: 0 !important;
  top: -32px;
  left: -559.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.bgBlurIcon1,
.bgBlurIcon2,
.bgBlurIcon3,
.imgIcon {
  position: absolute;
  top: 298px;
  left: 885.9px;
  width: 1319.3px;
  height: 1096.4px;
  object-fit: contain;
}
.bgBlurIcon2,
.bgBlurIcon3,
.imgIcon {
  top: 1077px;
  left: 0;
  width: 1832px;
  height: 950.5px;
  z-index: 1;
}
.bgBlurIcon3,
.imgIcon {
  top: 1372.4px;
  left: 1146.6px;
  width: 375.1px;
  height: 545px;
  z-index: 2;
}
.bgBlurIcon3 {
  top: 108px;
  left: 841.9px;
  width: 860.9px;
  height: 532.7px;
  z-index: 1;
}
.wrapperRectangle2Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.144);
}
.wrapperRectangle2 {
  position: absolute;
  top: 145.2px;
  left: 108.9px;
  border-radius: var(--br-481xl);
  width: 485px;
  height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img,
.onlinePaymentMockup111 {
  position: absolute;
  top: 0;
  width: 753.8px;
  height: 804.8px;
}
.onlinePaymentMockup111 {
  left: 0;
  object-fit: contain;
  z-index: 1;
}
.img {
  left: 934px;
  z-index: 2;
}
.errorReporting {
  height: 2027.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.connectionCreator {
  width: 1845.9px;
  margin: 0 !important;
  position: absolute;
  top: 5206px;
  left: 74.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
