@import '../../../../assets/scss/base';
.partner-column{
.partner-image{
    position: $relative;
    display: inline-block;
    &::before{
        content: "";
        width: 270px;
        height: 270px;
        @include position(absolute, $top: null, $right: null, $bottom: 0, $left: 50%);
        transform:translateX(-50%);
        background: rgb(56 153 137 / 25%);
        border-radius: 0 100px;
        z-index: -1;
        
    }
    .overlay-logo {
        @include position(absolute, $top: null, $right: 0, $bottom: 0, $left:0);
        text-align: center;
        background: rgb(56 153 137 / 50%);
        padding: 8px 0;
        width: calc(100% + 22px);
    }
}
h3{
    color: $white-color;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
}