.title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.arrowsIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.75);
}
.wrapperArrows {
  height: 40px;
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pathCombiner {
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.maskGroupIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.259);
}
.wrapperMaskGroup {
  height: 270px;
  width: 270px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.pinpng2Icon {
  height: 228px;
  width: 240px;
  position: absolute;
  margin: 0 !important;
  top: -108px;
  right: 0;
  object-fit: contain;
  z-index: 1;
}
.iconAssemblerX {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component1Child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-darkcyan-300);
  backdrop-filter: blur(1000px);
}
.component1,
.image39Icon {
  position: relative;
  z-index: 1;
}
.image39Icon {
  height: 21px;
  width: 114px;
  object-fit: contain;
}
.component1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xs);
  background-color: transparent;
  align-self: stretch;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  margin-top: -37px;
}
.iconAssemblerXParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ceoProduct,
.mikeStoneberg {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.ceoProduct {
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.mikeStonebergParent,
.team {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-5xs);
}
.team {
  width: 270px;
  flex-shrink: 0;
  padding: var(--padding-58xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.maskGroupIcon1,
.wrapperMaskGroup1 {
  width: 100%;
  position: absolute;
  flex-shrink: 0;
}
.maskGroupIcon1 {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  left: -17px;
  top: 0;
  transform: scale(1.259);
}
.wrapperMaskGroup1 {
  height: 270px;
  margin: 0 !important;
  right: 0;
  bottom: 72px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.pinpng2Icon1 {
  height: 215px;
  width: 226px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.pinpng2Wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.component1Item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-900);
  backdrop-filter: blur(1000px);
}
.component11,
.image45Icon {
  position: relative;
  z-index: 1;
}
.image45Icon {
  height: 21px;
  width: 66px;
  object-fit: contain;
}
.component11 {
  width: 270px;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.ceoProduct1,
.mikeStoneberg1 {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.ceoProduct1 {
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.mikeStonebergGroup {
  width: 269px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.component1Parent {
  width: 100px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.cards,
.component1Parent,
.shapeTransformer,
.team1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.team1 {
  align-self: stretch;
  width: 270px;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  gap: var(--gap-76xl);
}
.cards,
.shapeTransformer {
  max-width: 100%;
}
.cards {
  width: 1530px;
  height: 419px;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-xl);
  z-index: 2;
  text-align: center;
  font-size: var(--h3-size);
}
.shapeTransformer {
  flex-direction: column;
  padding: 0 0 181.10000000000036px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 925px) {
  .title {
    font-size: var(--font-size-5xl);
  }
  .shapeTransformer {
    gap: 32px 64px;
    padding-bottom: var(--padding-99xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--h3-size);
  }
  .pathCombiner {
    flex-wrap: wrap;
  }
  .team {
    padding-top: var(--padding-31xl);
    box-sizing: border-box;
  }
  .team1 {
    gap: 47px 95px;
  }
  .shapeTransformer {
    gap: 16px 64px;
  }
}
