@import '../../../../assets/scss/base';

#main {
  @media (min-width:1200px){
    padding-top: 104px;
  }
  @media (max-width:1199.99px){
    padding-top: 90px;
  }
}
.header {
  width:100%;
  @include position ($fixed, $top:0,$left:0, $right:0);
  @include transition-mixin (all, .5s, ease-in-out);
  z-index: 11;
  @media (min-width:1200px) {
    padding: 30px 0;
  }
  @media (max-width:1199.99px){
    padding: 24px 0;
  }
  &.sticky-header {
    background-color: $body-color;
    box-shadow: 0 0 15px rgba($black-color, .4);
  }
  .navbar-brand { 
    margin-right: 0;
    @media (max-width:991px){      
      margin: 0 $auto;
      max-width: 147px;
      img {
        max-width: 100%;
      }
    }
  }
  .btn {
    min-width: 150px;
    span {
      @include font-size (.875);
    }
  }
  // Toggle Header
  &.togglebar {
    .navbar-brand {
      position: relative;
      z-index: 12;
      padding: 0;
    }
    .navbar-toggler {
      top: 0;
      z-index: 12;
    }
    .navbar-toggler-icons {
      transition: all 0.3s;
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(10px, 10px);
          background: #fff;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          width: 25px;
        }
      }
    }
  }
 
  .navbar-brand {
    @media(max-width: 991px) {
      svg {
        max-width: 147px;
      }
    }
  }

  .navbar-toggler {
    &:focus {
      outline: none;
      box-shadow: none;
    }
    @media(max-width:991px) {
      @include position (absolute, $top: null, $right: 25px, $bottom: null, $left: null);
      padding: 0;
    }
  }

  .main-navigation {
    @media(max-width:1199.98px) {
      height: 100%;
      padding: 0 16px;
      @include position (fixed, $top: 0, $right: 0, $bottom: null, $left: 0);
      z-index: 11;
      background-color: #020C0C;
      padding-top:16px;
      padding-bottom:24px;
    }
   
    .CloseMenu {
      @include position (absolute, $top: calc(50% - 40px/2), $right: 0);
      }
      .mobileMenuList {
        

      }
      .brand_banner {
        img {
          @include opacity(0.4);
        }
      }
  }

  .navbar-toggler-icons {
    display: grid;
    gap: 4px;
    span {
      &:nth-child(1) {
        width: 25px;
        height: 3px;
        display: block;
        background: $green-tin-color-700;
        @include border-radius(3px)
      }
      &:nth-child(2) {
        width: 21px;
        height: 3px;
        margin: auto;
        display: block;
        background: #A7D7CF;
        @include border-radius(3px)
      }
      &:nth-child(3) {
        width: 17px;
        height: 3px;
        margin: auto;
        display: block;
        background: #fff;
        @include border-radius(3px)
      }
    }
    @media (min-width:1200px) {
      padding: 30px 0;
    }

    .dark-green-gradient {
      &:hover {
        path {
          fill: #A7D7CF;
        }
      }
    }
  }
}

// mobile banner mobile version
.toogleBg {
  
    @include position($absolute, $top: 0px, $left: 0px);
    height: 100%;
    @include opacity (.9);
    z-index: -1;
    @media (max-width:1200px) {
        $top: 0;
    }
    img {
      max-height: 423px;
    }
}
