@import '../../../../assets/scss/base';

.header {
  padding: 15px 0;

  @media (min-width:1200px) {
    padding: 30px 0;
  }

  .dark-green-gradient {
    &:hover {
      path {
        fill: #A7D7CF;
      }
    }
  }
}