.bgBlurIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 45px;
  top: -16px;
  transform: scale(1.193);
}
.wrapperBgBlur {
  width: 1145px;
  height: 788px;
  position: absolute;
  margin: 0 !important;
  top: 3736px;
  left: -468px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.bgBlurIcon1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: -155px;
  top: 137px;
  transform: scale(1.279);
}
.wrapperBgBlur1 {
  position: absolute;
  top: -248px;
  left: 994.1px;
  width: 1299.8px;
  height: 978.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgBlurIcon2 {
  position: absolute;
  top: 564px;
  left: -456.4px;
  width: 2761.8px;
  height: 1595.9px;
  object-fit: contain;
  z-index: 1;
}
.wrapperBgBlurParent {
  width: 100%;
  height: 2159.9px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.bgBlurIcon3,
.bgBlurIcon4 {
  object-fit: contain;
  position: absolute;
}
.bgBlurIcon3 {
  width: 1719.3px;
  height: 1719.6px;
  margin: 0 !important;
  bottom: 2664.4px;
  left: -714.9px;
}
.bgBlurIcon4 {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: -155px;
  top: -137px;
  transform: scale(1.279);
}
.wrapperBgBlur2 {
  width: 1299.8px;
  height: 978.7px;
  position: absolute;
  margin: 0 !important;
  right: -428.9px;
  bottom: -359.7px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgBlurIcon5,
.bgBlurIcon6 {
  position: absolute;
  object-fit: contain;
}
.bgBlurIcon5 {
  width: 1339.7px;
  height: 1219.2px;
  margin: 0 !important;
  bottom: -144.2px;
  left: -472px;
  z-index: 1;
}
.bgBlurIcon6 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1287px;
  max-height: 100%;
  width: 1067.5px;
}
.activeDotIcon,
.roadLineIcon {
  position: absolute;
  top: 755px;
  left: -453px;
  width: 2825px;
  height: 38px;
  z-index: 1;
}
.activeDotIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(3);
}
.wrapperActiveDot {
  position: absolute;
  top: 745px;
  left: 348px;
  width: 30px;
  height: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activeDotIcon1 {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(3);
}
.wrapperActiveDot1 {
  position: absolute;
  top: 745px;
  left: 566px;
  width: 30px;
  height: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabledDotsIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(3.222);
}
.wrapperDisabledDots {
  position: absolute;
  top: 745px;
  left: 799px;
  width: 692px;
  height: 27px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dataJoiner {
  width: 100%;
  height: 819.1px;
  position: absolute;
  margin: 0 !important;
  top: 4107px;
  right: 0;
  left: 0;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px 0 0;
  box-sizing: border-box;
  gap: 146px;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .home {
    gap: 73px 146px;
  }
}
@media screen and (max-width: 925px) {
  .home {
    gap: 36px 146px;
  }
}
