@import '../../../../assets/scss/base';

.marketplace {
    padding:70px 0 0px;
    @media (min-width:1400px) {
        padding:140px 0 0px;
    }
    .market-place-para {
        max-width: 584px;
        margin: auto;

        h2 {
            margin-bottom: 8px;
        }

        p {
            color: $text-color;
            font-size: $font-15;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .comming-soon {
        text-transform: none;
        font-size: 14px;
        min-width: 240px;
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;

        span {
            color: $white-color;
            line-height: 1;
        }
    }

    .market-row {
        padding: 74px 0 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }
}

.car_slider_bg {
    @include position($absolute, $left:0px, $bottom:50%);
    height: 100%; 
    z-index: -1;
    @include opacity(0.7); 
    @media (max-width:1200px) {
         $bottom:100px;
    }
  }