@import "../../../../assets/scss/base";

.git_hub_bg {
  @include position($absolute, $right:0px, $bottom:0);
  height: 100%;
  z-index: -1;
  @include opacity(0.7);
  @media (max-width:1200px) {
       $bottom:0px;
  }
}

.dataAggregator  {
  @media (min-width:1199.99px) {
    margin: 100px 0;
  }
  @media (max-width:1200px) {
    margin: 50px 0 80px;
  }
}

.github_content {
  max-width: 260px;
  display: $inline-block;
  .btn {
    svg, img {
      margin-right: 8px;
    }
  }
  @media (max-width:991px){
    margin-top:50px;
  }
  @media (max-width:767px){
    margin-top:0px;
  }
  @media (max-width:480px){
    max-width: 100%;
    .btn {
      width: 100%;
    }
  }
  em {
    display: $inline-block;
    margin-bottom: 30px;
    width: 139px;
  }
}
