@import '../../../assets/scss/base';

.close_btn {
    z-index: 1;
    @include position($absolute, $top:10px, $right:10px);
    background-color: $transparent;
    padding: 0;
    width: 34px;
    height: 34px;
    border:0;
    @include opacity (1);
    @include transition-mixin (all, .5s, ease-in-out);
    svg  {
        width: 14px;
        height: 14px;
    }
}

.modal {
    z-index: 1111;
    &-open {
        max-height: 100vh;
    }
    &-backdrop {
        z-index: 1111;
        background-color: rgba($black-color, .9)!important;
    }
    .modal {
        &-md {
            max-width: 480px;
        }
        &-content {
            background: #133D38;
            @at-root {
                .modal-title {
                    padding-right: 40px;
                    &.h4 {
                        @include font-size (1.1);
                        margin: 0;
                    }
                }
            }
        }
        &-header {
            color: $white-color;
            border-color: rgba(19, 61, 56, 1);;
        }
        &-body {
            @media (min-width:1200.99px) {
                padding: 52px 52px 32px;
            }
            @media (max-width:1200px) {
                padding: 30px;
            }
        }
        &-footer {
            margin-top: 10px;
            border-color: rgba(19, 61, 56, 1);;
            .row {
                margin: 0 -15px;
            }
        }
    }

    .form-field {
        margin-bottom: 10px;
        label{
            color: #A7D7CF;
            @include font-size (.725);
            text-transform: $uppercase;
            font-weight: $font-mediumbold;
        }
    }
}

// Achievement Progress Table
.achievement-progress-table {
    .modal-title {
        padding: 20px;
    }
    .pagination-group {
        padding: 0 20px 20px;
    }
}

.title_group {
    margin-bottom: 30px;
    p {
        @include font-size (0.938);
    }
}