@import "../../../../assets/scss/base";

.didyouwin {
  padding-top: 100px;
  padding-bottom: 105px; 
  &_bg {
    @include position($absolute, $left: 0px, $top: 0);
    height: 100%;
    z-index: -1;
    @media (max-width:1200px) {
      $top: 0px;
    }
  }
}