@import "../../../../assets/scss/base";

.didyouwin {
  padding-top: 100px;
  padding-bottom: 105px;
  @media (min-width:1200px){
    padding-top: 150px;
  }
  @media (max-width:1200px){
    padding-bottom: 30px;
  }
  &_bg {
    @include position($absolute, $left: 0px, $bottom: 35%);
    height: 100%;
    object-fit: $contain;
    z-index: -1;
    @media (max-width:1200px) {
      $top: 0px;
    }
  }
  .btn_contain {
    @media (max-width:767px){
      padding-top: 3.2rem!important;
    }
    .btn {
      min-width: 230px;
    }
  }
}

.card-slider-row {
  &.did-you-win-row {
    .card-box-green {
      .card-img {
        img {
          object-fit: $contain;
          margin: 0 $auto;
          max-width: 100%;
          @media (min-width:1200px) {
            min-height: 120px;
            max-height: 120px;
          }
          @media (max-width:1199.98px) {
            min-height: 150px;
            max-height: 150px;
          }
        }
      }
      .h6 {
        font-weight: $font-mediumbold;
        @include font-size (1);
        color: $text-color;
      }
      p {
        @include font-size (.875);
        font-weight: $font-medium;
        margin: 0;
      }
    }
  }
}