@import "../../../../assets/scss/base";

.didyouwin {
  padding-top: 100px;
  padding-bottom: 105px;
  .did-you-win-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 70px;
  }
  .card-box-green {
    h4 {
      color: $text-color;
      text-align: $center;
      @include font-size (1);
      font-weight: $font-mediumbold;
      line-height: 22px;
      margin-bottom: 8px;
    }
    P {
      @include font-size (.875);
      font-weight: $font-medium;
    }
  }
}