.description,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.textContent {
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.socialIcons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.joinX {
  width: 39px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  min-width: 39px;
}
.pathCombinerXX {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-3xs) var(--padding-24xl);
  background-color: var(--color-darkslategray-600);
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.pathCombinerXX1:hover,
.pathCombinerXX2:hover,
.pathCombinerXX3:hover,
.pathCombinerXX:hover {
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.socialIcons1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.joinDiscord {
  width: 78px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  min-width: 78px;
}
.pathCombinerXX1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-darkslategray-600);
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
  white-space: nowrap;
}
.socialIcons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.joinTelegram {
  width: 87px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
}
.pathCombinerXX2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-darkslategray-600);
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  white-space: nowrap;
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.joinAirdrop {
  width: 78px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  min-width: 78px;
}
.pathCombinerXX3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-3xs) var(--padding-6xl);
  background-color: var(--color-darkslategray-600);
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  white-space: nowrap;
}
.shapeTransformerXX,
.textContentParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.textContentParent {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-33xl);
  max-width: 100%;
}
.homeInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 925px) {
  .title {
    font-size: var(--font-size-5xl);
  }
  .shapeTransformerXX {
    flex-wrap: wrap;
  }
  .textContentParent {
    gap: 26px 52px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--h3-size);
  }
}
