@import "../../../../assets/scss/base";

.airdrop_sec {
    margin-top: 80px;
    margin-bottom: 80px;
    @media (min-width:1440px) {
        margin-top: 180px;
        margin-bottom:100px ;
    }
}
.airdrop-main {
    .whitelisted-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        margin: $auto;
        margin-top: 64px;
        max-width: 1096px;
        @include align-items ($center);
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:991px) {
            gap: 70px;
        }
        .white-listed-form {
            padding: 52px;
            border-radius: 0px 100px 0px 100px;
            background: rgba(56, 153, 137, 0.08);
            backdrop-filter: blur(500px);
            @media (max-width:767px) {
                border-radius: 0 40px;
                padding: 52px 12px;
            }
            .form-control {
                padding: 8px 16px 8px 48px;
            }
            h4 {
                font-weight: $font-medium;
                color: $white-color;
                text-align: $center;
                line-height: normal;
                margin-bottom: 32px;
                font-size: 20px;
            }
            .submit-drop{
                margin-top: 32px;
                text-align: center;
                button{
                    min-width: 240px;
                    text-transform: none;
                    font-size: 14px;
                    @media (max-width:767px) {
                        min-width: 100%;
                    }
                }
            }
        }
    }
    .heading_title {
        @media (min-width:1200px){
            max-width: 681px;
        }
        p{
            @include font-size (0.938);
        }
    }
    .btn {
        .transform-none {
            min-height: 44px!important;
        }
    }
}

.white-listed-form {
    .form-field {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        .image_renderer {
            @include position($absolute, $top:calc(8px), $left:14px);
            img {
                width: 24px;
                height: 24px;
                display: $block;
            }
        }
        .form-control {
            border: 0;
            padding: 8px 16px 8px 48px;
            background: rgba(41, 101, 92, 0.25);
            &::placeholder {
                color: $green-tin-color-700;
            }
            &::-webkit-input-placeholder {
                color: $green-tin-color-700;
            }
            &:-ms-input-placeholder {
                color:$green-tin-color-700;
            }
        }
    }
}

.btn_groups {
    margin-top: 32px;
    @media (max-width:575px){
        .btn {
            width: 100%;
        }
    }
}

.air_drop_bg {
    @media (min-width:991.99px) {
        @include position($absolute, $right:0px, $top:-15%);
        height: 100%;
    }
    @media (max-width:991px) {
        @include position($absolute, $left:0px, $bottom:-23%);
        z-index: -1;
    }
    @media (max-width:991px) {
        bottom: -32%;
    }
}
