@import "../../../../assets/scss/base";


.heading_title {
    margin: 0 $auto;
    @media (min-width:991.99px){
        max-width: 745px;
    }
    .h2 {
        margin-bottom: 10px
    }
    p {
        font-weight: $font-medium;
        @include font-size (.938);
        color: $text-color;
        line-height: 1.5;
        margin: 0;
    }
}

.airdrop_sec {
    margin-top: 80px;
    margin-bottom: 80px;
    @media (min-width:1440px) {
        margin-top: 180px;
        margin-bottom:100px ;
    }
}
.airdrop-main {   
    .whitelisted-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        max-width: 1096px;
        margin: auto;
        margin-top: 64px;
        align-items: center;
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:991px) {
            gap: 70px;
        }
        .white-listed-form {
            padding: 52px;
            border-radius: 0px 100px 0px 100px;
            background: rgba(56, 153, 137, 0.08);
            backdrop-filter: blur(500px);
            @media (max-width:767px) {
                border-radius: 0 40px;
                padding: 52px 12px;
            }
            h3 {
                color: $white-color;
                text-align: center;
                font-size: 20px;
                font-weight: $font-medium;
                line-height: normal;
                margin-bottom: 32px;
            }
            .submit-drop{
                margin-top: 32px;
                text-align: center;
                button{
                    min-width: 240px;
                    text-transform: none;
                    font-size: 14px;
                    @media (max-width:767px) {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

.form-field {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
    .image_renderer {
        @include position($absolute, $top:calc(9px), $left:14px);
        img { width: 24px; height: 24px; display: $block;}
    }
    .form-control { 
        border: 0;
        width: 100%;
        background: rgba(41, 101, 92, 0.25);
        @include border-radius (10px);
        padding: 8px 16px 8px 48px;
        color: $green-tin-color-700;
        @include font-size (.875);
        font-weight: $font-medium;
        line-height: 22px;
        min-height: 40px;
        &::placeholder {
            color: $green-tin-color-700;
        }
        &::-webkit-input-placeholder {
            color: $green-tin-color-700;
        }
        &:-ms-input-placeholder {
            color: $green-tin-color-700;
        } 
    }
}

.btn_groups {
    margin-top: 32px;
    @media (max-width:575px){
        .btn {
            width: 100%;
        }
    }
}

.air_drop_bg {
    @media (min-width:991.99px) {
        @include position($absolute, $right:0px, $top:-15%);
        height: 100%; 
    }
    @media (max-width:991px) {
        @include position($absolute, $left:0px, $bottom:-23%);
        z-index: -1;
    }
}
