@import "../../../../assets/scss/base";


.heading_title {
    margin: 0 $auto;
    @media (min-width:991.99px){
        max-width: 745px;
    }
    .h2 {
        margin-bottom: 10px
    }
    p {
        font-weight: $font-medium;
        @include font-size (1.125);
        color: $text-color;
        line-height: 1.4;
        margin: 0;
    }
}

.airdrop_sec {
    margin-top: 80px;
    margin-bottom: 80px;
    @media (min-width:1440px) {
        margin-top: 180px;
        margin-bottom:100px ;
    }
}
.airdrop-main {   
    .whitelisted-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        max-width: 1096px;
        margin: auto;
        margin-top: 64px;
        align-items: center;
        @media (min-width:992px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:991px) {
            gap: 70px;
        }
        .white-listed-form {
            padding: 52px;
            border-radius: 0px 100px 0px 100px;
            background: rgba(56, 153, 137, 0.08);
            backdrop-filter: blur(500px);
            @media (max-width:767px) {
                border-radius: 0 40px;
                padding: 52px 12px;
            }
            .form-control {
                padding: 8px 16px 8px 48px;
            }
            h3 {
                color: $white-color;
                text-align: center;
                font-size: 20px;
                font-weight: $font-medium;
                line-height: normal;
                margin-bottom: 32px;
            }
            .submit-drop{
                margin-top: 32px;
                text-align: center;
                button{
                    min-width: 240px;
                    text-transform: none;
                    font-size: 14px;
                    @media (max-width:767px) {
                        min-width: 100%;
                    }
                }
            }
        }
    }
    .heading_title {
        @media (min-width:1200px){
            max-width: 681px;
        }
        p{
            @include font-size (0.938);            
        }
    }
}

.white-listed-form {
    .form-field {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        .image_renderer {
            @include position($absolute, $top:calc(9px), $left:14px);
            img { 
                width: 24px; 
                height: 24px; 
                display: $block;
            }
        }
        .form-control { 
            border: 0;  
            padding: 8px 16px 8px 48px; 
            background: rgba(41, 101, 92, 0.25); 
            &::placeholder {
                color: #389989;
            }
            &::-webkit-input-placeholder {
                color: #389989;
            }
            &:-ms-input-placeholder {
                color:#389989;
            } 
        }
    }
}

.btn_groups {
    margin-top: 32px;
    @media (max-width:575px){
        .btn {
            width: 100%;
        }
    }
}

.air_drop_bg {
    @media (min-width:991.99px) {
        @include position($absolute, $right:0px, $top:-15%);
        height: 100%; 
    }
    @media (max-width:991px) {
        @include position($absolute, $left:0px, $bottom:-23%);
        z-index: -1;
    }
}
