.info1Child {
  height: 160px;
  width: 156px;
  position: relative;
  object-fit: cover;
}
.followPremiumtokenOn {
  align-self: stretch;
  position: relative;
}
.followPremiumtokenOnOur6SWrapper,
.info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.followPremiumtokenOnOur6SWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-39xl) 0 0;
  box-sizing: border-box;
  min-width: 162px;
}
.info1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--h3-size);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 450px) {
  .info1Child {
    flex: 1;
  }
  .info1 {
    flex-wrap: wrap;
  }
}
