@import '../../../../assets/scss/base';

.airdrop-list {
    display: grid;
    align-items: $center;
    grid-template-columns: 156px 1fr;
    gap: 16px;
    margin-bottom: 24px;
    @media (max-width:360px){
        grid-template-columns: 100px 1fr;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .airdrop-image {
        text-align: $center;
        img {
            max-width: 100%;
            object-fit: $contain;
            max-height: 160px;
            object-position: $center;
        }
    }

    .airdrop-list-text {
        padding-right: 16px;
        p {
            max-width: 280px;
            line-height: 1.4;
            color: $white-color;
            font-weight: $font-regular;
        }
    }
}