.description,
.title {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.title {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.titleParent {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.b,
.frameChild {
  position: absolute;
}
.frameChild {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-700);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.b {
  top: 56.6px;
  left: 91px;
  display: inline-block;
  min-width: 32px;
}
.ellipseParent {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.b1,
.ellipseParent,
.frameItem {
  position: absolute;
}
.frameItem {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.b1 {
  top: 18.2px;
  left: 184.6px;
  display: inline-block;
  width: 27.9px;
  height: 23.1px;
}
.ellipseGroup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.b2,
.ellipseGroup,
.frameInner {
  position: absolute;
}
.frameInner {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color);
  border: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.b2 {
  top: 387.6px;
  left: 329px;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.frameParent1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.b3,
.ellipseDiv,
.frameParent1 {
  position: absolute;
}
.ellipseDiv {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.b3 {
  top: 28px;
  left: 280px;
  display: inline-block;
  min-width: 36px;
  z-index: 7;
}
.ellipseContainer {
  position: absolute;
  top: -0.4px;
  left: 0;
  width: 100%;
  height: 100%;
}
.totalTokens {
  flex: 1;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 4;
}
.totalTokensWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl);
}
.div {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  color: var(--color-white);
  z-index: 4;
}
.frameParent2 {
  position: absolute;
  top: 192.1px;
  left: 113.1px;
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.900000000000091px;
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.b4 {
  position: absolute;
  top: 17.6px;
  left: 234px;
  display: inline-block;
  min-width: 36px;
  z-index: 5;
}
.ellipseParent1,
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameChild2 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 6;
}
.b5 {
  position: absolute;
  top: 44.6px;
  left: 321px;
  display: inline-block;
  min-width: 19px;
  z-index: 7;
}
.ellipseParent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-smi);
}
.frameParent3 {
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frameChild3,
.frameDiv,
.frameParent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameDiv {
  font-size: var(--font-size-xs);
  color: var(--a7d7cf);
}
.frameChild3 {
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  border: 0 solid var(--color-gray-500);
  box-sizing: border-box;
  z-index: 4;
}
.b6 {
  position: absolute;
  top: 172.6px;
  left: 16px;
  display: inline-block;
  min-width: 32px;
  z-index: 7;
}
.ellipseParent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.groupDiv {
  height: 459px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.frameContainer {
  flex: 1;
  flex-direction: row;
}
.contentInner,
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
}
.contentInner {
  width: 459px;
  flex-direction: column;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  min-width: 459px;
}
.wrapperRectangle16Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 44px;
  z-index: 1;
}
.wrapperRectangle16Parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.forAirdrop,
.loremIpsumDolor {
  align-self: stretch;
  position: relative;
}
.forAirdrop {
  font-weight: 800;
}
.loremIpsumDolor {
  line-height: 18px;
  color: var(--a7d7cf);
}
.div1,
.forAirdropParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.forAirdropParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.wrapperRectangle16Item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle161 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  position: absolute;
  top: 11px;
  left: 17px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.wrapperRectangle16Group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.loremIpsumDolor1,
.toDevelopment {
  align-self: stretch;
  position: relative;
}
.toDevelopment {
  font-weight: 800;
}
.loremIpsumDolor1 {
  line-height: 18px;
  color: var(--a7d7cf);
}
.div3,
.toDevelopmentParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.toDevelopmentParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.wrapperRectangle16Inner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle162 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 44px;
  min-width: 44px;
  z-index: 1;
}
.wrapperRectangle16Container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.loremIpsumDolor2,
.marketing {
  align-self: stretch;
  position: relative;
}
.marketing {
  font-weight: 800;
}
.loremIpsumDolor2 {
  line-height: 18px;
  color: var(--a7d7cf);
}
.div5,
.marketingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.marketingParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.rectangleIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div8 {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 44px;
  z-index: 1;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.founders,
.loremIpsumDolor3 {
  align-self: stretch;
  position: relative;
}
.founders {
  font-weight: 800;
}
.loremIpsumDolor3 {
  line-height: 18px;
  color: var(--a7d7cf);
}
.div7,
.foundersParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.foundersParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.wrapperRectangle16Child1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle164 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div10 {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 44px;
  z-index: 1;
}
.wrapperRectangle16Parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.prizesForWinners {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.loremIpsumDolor4 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  color: var(--a7d7cf);
}
.div9,
.prizesForWinnersParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prizesForWinnersParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div9 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.wrapperRectangle16Child2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle165 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div12 {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 44px;
  z-index: 1;
}
.wrapperRectangle16Parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.burning,
.loremIpsumDolor5 {
  align-self: stretch;
  position: relative;
}
.burning {
  font-weight: 800;
}
.loremIpsumDolor5 {
  line-height: 18px;
  color: var(--a7d7cf);
}
.burningParent,
.div11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.burningParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 294px;
}
.div11 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.wrapperRectangle16Child3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2.522);
}
.wrapperRectangle166 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 80px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div14 {
  position: absolute;
  top: 11px;
  left: 20px;
  font-size: var(--font-size-lgi);
  font-weight: 800;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 24px;
  min-width: 40px;
  z-index: 1;
}
.wrapperRectangle16Parent3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 46px;
  width: 80px;
  position: relative;
}
.loremIpsumDolor6,
.toExchangesAnd {
  align-self: stretch;
  position: relative;
}
.toExchangesAnd {
  font-weight: 800;
}
.loremIpsumDolor6 {
  line-height: 18px;
  color: var(--a7d7cf);
}
.toExchangesAndTokenHoldersParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 294px;
  max-width: 100%;
}
.div13 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.cartInfo,
.content,
.div13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cartInfo {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 359px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-109xl);
  z-index: 1;
}
.description1,
.title1 {
  align-self: stretch;
  position: relative;
}
.title1 {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.description1 {
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.frameWrapper2,
.titleGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.titleGroup {
  width: 545px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameWrapper2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.getWhitelistedFor {
  margin: 0;
  width: 240px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.title2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.heroiconsSolid {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.enterYourPremiumtoken {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color);
  text-align: left;
}
.enterYourPremiumtokenWalletWrapper,
.heroiconsSolidParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.heroiconsSolidParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-darkslategray-800);
  align-self: stretch;
  height: 40px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.socialIcons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frameInput,
.socialIconsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInput {
  width: 200px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 23px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--h2);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color);
}
.socialIconsParent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.socialIcons1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.enterYourTelegram {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color);
  text-align: left;
}
.enterYourTelegramUsernameWrapper,
.socialIconsGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.socialIconsGroup {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-6xs);
}
.socialIcons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frameChild4,
.socialIconsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild4 {
  width: 218px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 23px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--h2);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color);
}
.socialIconsContainer {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.socialIcons3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.enterUrlTo {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color);
  text-align: left;
}
.enterUrlToYourFacebookProWrapper,
.socialIconsParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.socialIconsParent1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.socialIcons4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.enterYourUsername {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color);
  text-align: left;
}
.enterYourUsernameOnDiscordWrapper,
.socialIconsParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.socialIconsParent2 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.socialIcons5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.enterUrlTo1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--h2);
  color: var(--color);
  text-align: left;
}
.enterUrlToYourTiktokProfiWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frameParent5,
.socialIconsParent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialIconsParent3 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-800);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-6xs);
}
.frameParent5 {
  height: 328px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.btChild {
  height: 44px;
  width: 240px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  display: none;
}
.submitAirdrop {
  width: 94px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.bt,
.btWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bt {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-3xs) var(--padding-54xl);
  background-color: var(--color);
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  justify-content: flex-start;
  white-space: nowrap;
}
.bt:hover {
  background-color: var(--color-lightseagreen);
  border: 1px solid var(--color-gainsboro-100);
}
.btWrapper {
  align-self: stretch;
  justify-content: center;
}
.bt:hover,
.form {
  box-sizing: border-box;
}
.form {
  margin: 0;
  flex: 1;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkcyan-200);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(80px);
  overflow: hidden;
  padding: var(--padding-33xl);
  gap: var(--gap-13xl);
  min-width: 331px;
  max-width: 100%;
}
.form,
.infoBlocks,
.infoBlocksWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.infoBlocks {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.infoBlocksWrapper {
  width: 438px;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 438px;
  max-width: 100%;
}
.formParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--h3-size);
}
.formParent,
.frameParent4,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent4 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frameWrapper1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-26xl-5) 0 var(--padding-27xl);
  box-sizing: border-box;
  font-size: var(--h2-size);
}
.bgBlurIcon,
.contentParent {
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.contentParent {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 219.99999999999957px;
  min-width: 1140px;
}
.bgBlurIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.bgBlurWrapper {
  height: 896.9px;
  width: 852px;
  flex-direction: column;
  padding: 247.0999999999999px 0 0;
  box-sizing: border-box;
  min-width: 852px;
}
.bgBlurWrapper,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  gap: 64.10000000000036px;
  font-size: var(--font-size-base);
}
.frameParent {
  width: 1550px;
  flex-direction: column;
  padding: 0 0 var(--padding-75xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 1850px) {
  .contentParent {
    flex: 1;
  }
  .bgBlurIcon {
    align-self: stretch;
    width: auto;
  }
  .bgBlurWrapper {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1400px) {
  .contentInner {
    flex: 1;
  }
  .content {
    flex-wrap: wrap;
    gap: 128px 64px;
  }
  .formParent {
    gap: 100px 50px;
  }
  .frameParent4 {
    gap: 32px 64px;
  }
  .frameWrapper1 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .contentParent {
    gap: 110px 219.99999999999957px;
    min-width: 100%;
  }
  .frameParent {
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .title {
    font-size: var(--font-size-5xl);
  }
  .contentInner {
    min-width: 100%;
  }
  .content {
    gap: 128px 32px;
  }
  .title1 {
    font-size: var(--font-size-5xl);
  }
  .form {
    gap: 16px 32px;
    padding: var(--padding-15xl) var(--padding-7xl);
    box-sizing: border-box;
  }
  .infoBlocksWrapper {
    flex: 1;
    min-width: 100%;
  }
  .formParent {
    flex-wrap: wrap;
    gap: 100px 25px;
  }
  .frameParent4 {
    gap: 16px 64px;
  }
  .contentParent {
    gap: 55px 219.99999999999957px;
  }
  .bgBlurWrapper {
    padding-top: var(--padding-142xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .frameGroup {
    gap: 64.10000000000036px 32px;
  }
  .frameParent {
    gap: 32px 64px;
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--h3-size);
  }
  .div {
    font-size: var(--font-size-lgi);
  }
  .div1,
  .div11,
  .div13,
  .div3,
  .div5,
  .div7,
  .div9 {
    flex-wrap: wrap;
  }
  .cartInfo {
    min-width: 100%;
  }
  .content {
    gap: 128px 16px;
  }
  .title1 {
    font-size: var(--h3-size);
  }
  .getWhitelistedFor {
    font-size: var(--font-size-base);
  }
  .contentParent {
    gap: 27px 219.99999999999957px;
  }
  .bgBlurWrapper {
    padding-top: var(--padding-86xl);
    box-sizing: border-box;
  }
  .frameGroup {
    gap: 64.10000000000036px 16px;
  }
  .frameParent {
    gap: 16px 64px;
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
