@import "../../../../assets/scss/base";

.prize_secn {
  margin: 50px 0 100px;
  @media (min-width:1200px) {
    margin: 140px 0;
  }
}

.card-slider-row {
  margin-top: 40px;  
  .slick-slide>div{
    [class*=col-] {
      padding-inline: 7px;
    }
  }
  .custom-slider {
    .regular {
      margin-inline: -10px;
      @include flexbox;
      @media (min-width:991.99px) {
        margin-top: 70px;
      }
      [class*=col-] {
        padding-inline: 7px;
      }
    }
    .slick {
      &-slider {
        &>div {
          height: 100%;
          [class*=col-] {
            height: 100%;
          }
        }
        .slick {
          &-list {
            overflow: $absolute;
          }
          &-track { 
            .slick-slide {
              height: $inherit !important;
            }
            @media (max-width:991px){
              @include flexbox; 
            }
          }
        }
      }
      &-arrow {
        bottom: 0;
        top: calc(100% + 52px);
        @media (min-width:1200px) {
          top: calc(100% + 32px);
        }
      }
      &-prev {
        right: 0;
        @media (max-width:1199.98px) {
          left: calc(50% - calc(100px/2));
        }
      }
      &-next {
        right: 0;
        @media (max-width:1199.98px) {
          right: calc(50% - calc(100px/2));
        }
      }
    }
  }
}

.win_bg {
  z-index: -1;
  @include position($absolute, $top:28%,);
  width:100%; height:100%;
  @include transform(translateY(-50%));
  img {
    width: 100%;
  }
}