@import "../../../../assets/scss/base";

.prize_secn {
  margin: 50px 0 100px;
  @media (min-width:1200px) {
    margin: 140px 0;
  }
}

.card-slider-row {
  margin-top: 40px;
  .cstm-slider {
    .regular {
      margin-inline: -10px;
      @media (min-width:1200px) {
        @include flexbox;
        margin-top: 70px;
      }
      [class*=col-] {
        padding-inline: 10px;
      }
    }

    .slick {
      &-slider {
        .slick {
          &-list {
            overflow: $absolute;
          }
          &-track {
            @media (max-width:1199.98px) {
              display: flex !important;
              gap: 20px;
            }

            .slick-slide {
              flex: 1;
              height: inherit !important;
            }
          }
        }
      }

      &-arrow {
        bottom: 0;
        top: calc(100% + 52px);

        @media (min-width:1200px) {
          top: calc(100% + 32px);
        }
      }

      &-prev {
        right: 0;
        @media (max-width:1199.98px) {
          left: calc(50% - calc(100px/2));
        }
      }

      &-next {
        right: 0;

        @media (max-width:1199.98px) {
          right: calc(50% - calc(100px/2));
        }

      }
    }
  }
}

.win_bg {
  @include position($absolute, $top:20%,);
  z-index: -1;
  width:100%; height:100%;
  @include transform(translateY(-50%));
  img {
    width: 100%;
  }
}