@import "../../../../assets/scss/base";

.prize_secn {
  margin: 50px 0;

  @media (min-width:1200px) {
    margin: 140px 0;
  }
}

.card-slider-row {
  margin-top: 40px;

  @media (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-top: 70px;

  }
}

// .title {
//   width: 388px;
//   position: relative;
//   font-weight: 800;
//   display: inline-block;
//   z-index: 2;
// }
// .titleWrapper {
//   align-self: stretch;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: center;
//   padding: 0 var(--padding-xl);
// }
// .vectorIcon {
//   width: 257.1px;
//   height: 0;
//   position: relative;
// }
// .frameChild {
//   height: 140px;
//   flex: 1;
//   position: relative;
//   max-width: 100%;
//   overflow: hidden;
//   object-fit: cover;
// }
// .illustrationInner {
//   align-self: stretch;
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-end;
//   padding: 0 2.899999999999636px 0 var(--padding-10xs);
// }
// .vectorIcon1 {
//   width: 257.1px;
//   height: 0;
//   position: relative;
// }
// .illustration,
// .illustrationWrapper {
//   display: flex;
//   justify-content: flex-start;
// }
// .illustration {
//   align-self: stretch;
//   width: 170.1px;
//   overflow: hidden;
//   flex-shrink: 0;
//   flex-direction: column;
//   align-items: flex-end;
//   gap: var(--gap-8xs);
// }
// .illustrationWrapper {
//   flex: 1;
//   flex-direction: row;
//   align-items: flex-start;
//   padding: 0 var(--padding-16xl) 0 34.899999999999636px;
// }
// .title1 {
//   align-self: stretch;
//   position: relative;
//   line-height: 22px;
//   font-weight: 800;
// }
// .card,
// .wrapperRectangle16Child {
//   width: 100%;
//   position: absolute;
//   left: 0;
// }
// .card {
//   top: 19px;
//   border-radius: var(--br-6xl);
//   background-color: var(--color-darkcyan-100);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
//   backdrop-filter: blur(80px);
//   height: 302px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: var(--padding-23xl) var(--padding-mini) var(--padding-5xl);
//   box-sizing: border-box;
//   gap: var(--gap-xl);
//   z-index: 2;
// }
// .wrapperRectangle16Child {
//   height: 100%;
//   z-index: 3;
//   object-fit: contain;
//   top: 0;
//   transform: scale(2.892);
// }
// .wrapperRectangle16 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   border-radius: var(--br-3xs);
//   width: 92px;
//   height: 37px;
//   z-index: 3;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .div {
//   position: absolute;
//   top: 7px;
//   left: 40px;
//   line-height: 23px;
//   font-weight: 800;
//   display: inline-block;
//   width: 12px;
//   height: 18.5px;
//   min-width: 12px;
//   z-index: 4;
// }
// .wrapperRectangle16Parent {
//   position: absolute;
//   top: 0;
//   left: 89px;
//   width: 92px;
//   height: 37px;
//   font-size: var(--font-size-lgi);
//   color: var(--color-white);
// }
// .cardParent {
//   height: 321px;
//   position: relative;
// }
// .frameGroup {
//   align-self: stretch;
//   display: grid;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   gap: var(--gap-xl);
//   grid-template-columns: repeat(4, minmax(202px, 1fr));
//   font-size: var(--font-size-base);
//   color: var(--a7d7cf);
// }
// .frameParent,
// .homeInner {
//   display: flex;
//   align-items: flex-start;
//   max-width: 100%;
// }
// .frameParent {
//   width: 1140px;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: var(--gap-45xl);
// }
// .homeInner {
//   align-self: stretch;
//   flex-direction: row;
//   justify-content: center;
//   padding: 0 var(--padding-xl) var(--padding-45xl);
//   box-sizing: border-box;
//   text-align: center;
//   font-size: var(--h2-size);
//   color: var(--color-white);
//   font-family: var(--h2);
// }
// @media screen and (max-width: 1400px) {
//   .frameParent {
//     gap: 32px 64px;
//   }
// }
// @media screen and (max-width: 925px) {
//   .title {
//     font-size: var(--font-size-5xl);
//   }
//   .frameGroup {
//     justify-content: center;
//     grid-template-columns: repeat(2, minmax(202px, 351px));
//   }
//   .frameParent {
//     gap: 16px 64px;
//   }
//   .homeInner {
//     padding-bottom: var(--padding-23xl);
//     box-sizing: border-box;
//   }
// }
// @media screen and (max-width: 450px) {
//   .title {
//     font-size: var(--h3-size);
//   }
//   .frameGroup {
//     grid-template-columns: minmax(202px, 1fr);
//   }
// }