.carIcon {
  height: 173px;
  width: 261.7px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.description,
.title {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.description {
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.titleParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.card1,
.positionResolver,
.titleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.positionResolver {
  width: 269px;
  flex-direction: column;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  min-width: 269px;
}
.card1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mid);
  opacity: 0.6;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 925px) {
  .carIcon,
  .positionResolver {
    flex: 1;
  }
  .card1 {
    flex-wrap: wrap;
  }
}
