@import '../../../../assets/scss/base';

.slider_thumb {
    position: $relative;
    height: 247px;
    display: flex;
    @include justify-content ($center);
    @media (min-width:575.99px){
        width: 338px;
        @include align-items ($center);
    }
    @media (max-width:575px){
        height: 160px;
    }
    &::before {
        content: "";
        @include position($absolute, $top: 50%, $left: 50%);
        width: 280px; height: 247px;
        background: rgb(56 153 137 / 25%);
        @include transform (translate(-50%, -50%));
        @include border-radius (0px 100px 0px 100px);
        backdrop-filter: blur(500px);
        z-index: -1;
        @media (max-width:575px){
            @include border-radius (0px 50px 0px 50px);
            display: $none;
        }
    } 
    img {
        max-width: 100%;
        max-height: 170px;
        object-fit: $contain;
    }
}
.market-col {
    display: flex!important;
    flex-direction: column!important;
    @media (max-width:575px){
        width: 294px; height: 247px;
        padding: 20px;
        background: rgb(56 153 137 / 25%);
        @include border-radius (0px 40px 0px 40px);
        backdrop-filter: blur(500px); 
    }
    
}
.market-row {
    padding: 40px 0;
    position: $relative;
    z-index: 1; 
    @media (max-width:991px){
        margin-bottom: 40px;
    }
    .h3 {
        @include font-size (1.125);
        font-weight: $font-mediumbold;
        color: $white-color;
        text-align: $center;
        margin-top: 20px;
        margin-bottom: 0; 
        @media (max-width:575px){
            margin-top: 16px;
        }
    }
    .slider {
        @include flexbox;
        column-gap: 10px;
        @include justify-content (space-between);
    }   
}