.image37Icon,
.image38 {
  position: absolute;
  left: 0;
}
.image37Icon {
  top: 0;
  width: 63px;
  height: 63px;
  object-fit: contain;
}
.image38 {
  top: 18.69px;
  border-radius: var(--br-981xl);
  background: radial-gradient(50% 50%at 50% 50%, transparent 53.03%, #000);
  width: 48.1px;
  height: 48.1px;
  transform: rotate(-22.87deg);
  transform-origin: 0 0;
  z-index: 1;
}
.image36Icon {
  position: absolute;
  top: 3.9px;
  left: 31.9px;
  width: 66.1px;
  height: 66.1px;
  object-fit: contain;
  z-index: 2;
}
.ifStatement {
  height: 70px;
  flex: 1;
  position: relative;
}
.ifStatementWrapper,
.table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ifStatementWrapper {
  align-self: stretch;
  flex-direction: row;
}
.table {
  margin-left: -180px;
  width: 109px;
  flex-direction: column;
  padding: 0 var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.pieChart {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 19px;
}
.barChart {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.div {
  position: relative;
  line-height: 24px;
}
.barChart1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-5xs) 0 0;
}
.xfsde3eedsd1e12wdsadasd {
  position: relative;
  line-height: 24px;
}
.barChart2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.div1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 54px;
}
.barChart3,
.row1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.row1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-96xl) var(--padding-10xs)
    var(--padding-160xl);
  gap: var(--gap-52xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--h2);
}
