@import "../../../../assets/scss/base";

.winner_counter {
  .heading_title {
    @include flexCenter;
    @include flex-direction(column);
    margin: 0 auto;
    gap: 1rem;

    h2,
    p {
      margin: 0;
    }
  }

  &_content {
    @media (min-width:992px) {
      max-width: 761px;
      margin: 0 auto;
    }
  }
}

.subtitle {
  @include border-radius(12px);
  background: $dark-green-color-600;
  @include flexCenter;
  padding: 8px 16px;
  @include font-size(1.063);
  margin: 1rem auto;
  max-width: 570px;

  span {
    font-size: inherit;
    text-align: center;
    color: $white-color;
  }
}

.tableHeaderinfo {
  @media (max-width:767px) {
    gap: 2rem;
  }
}

.wallet-link {
  @media (max-width:767px) {
    @include justify-content(space-between);
  }
}

.table_wallet_secn{
  @media (min-width:1200px) {
    max-width: 928px;
    margin:48px $auto;
  }
}
.table_slider {
  margin: 32px 0;

  .prize_table {
    table {
      border-collapse: separate;
     border-spacing: 0 1rem;
      thead {
        th {
          background: transparent;
          color: $green-tin-color-600;
          @include font-size(0.875);
          font-style: $normal;
          font-weight: $font-mediumbold;
          line-height: 14px; 
          text-transform: $uppercase;
          padding:0.625rem 1.5rem 0;
          &:last-child {           
            padding-right:30px;
          }
        }
      }
      tbody {
        tr {
          background: $dark-green-color-600;
          
          td {
            background: transparent;
            color: $white-color;
            padding:16px 24px 16px 24px;
            @include font-size(1);
            line-height: 1.5;
            vertical-align: middle;
            word-wrap: break-word;
            &:first-child {
              @include border-radius(12px 0 0 12px);
              padding: 0;
            }
            &:last-child {
              @include border-radius(0 12px 12px 0);
             padding-right: 30px;
            }
          }
        }
      }
    }
  }
}

// .bt,
// .input,
// .tableHeader {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
// }
// .bt {
//   cursor: pointer;
//   border: 1px solid var(--color-gray-600);
//   padding: var(--padding-3xs) var(--padding-base);
//   background-color: var(--color);
//   flex: 1;
//   border-radius: var(--br-3xs);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
//   backdrop-filter: blur(80px);
//   box-sizing: border-box;
//   justify-content: flex-start;
//   min-width: 110px;
//   white-space: nowrap;
// }
// .bt1:hover,
// .bt:hover {
//   background-color: var(--color-lightseagreen);
//   border: 1px solid var(--color-gainsboro-100);
//   box-sizing: border-box;
// }
// .input,
// .tableHeader {
//   max-width: 100%;
// }
// .input {
//   width: 328px;
//   justify-content: center;
//   gap: var(--gap-base);
// }
// .tableHeader {
//   align-self: stretch;
//   justify-content: space-between;
//   gap: var(--gap-xl);
//   z-index: 2;
// }
// .date,
// .marketCap1,
// .prizeSelected {
//   position: relative;
//   line-height: 14px;
//   text-transform: uppercase;
//   font-weight: 800;
// }
// .date,
// .marketCap1 {
//   display: inline-block;
//   min-width: 78px;
// }
// .date {
//   min-width: 31px;
// }
// .dateWrapper {
//   width: 97px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
// .walletAddress {
//   position: relative;
//   line-height: 14px;
//   text-transform: uppercase;
//   font-weight: 800;
// }
// .walletAddressWrapper {
//   width: 197px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
// .chanceOfWinning {
//   position: relative;
//   line-height: 14px;
//   text-transform: uppercase;
//   font-weight: 800;
// }
// .dropdownMenu {
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
//   padding: 0 var(--padding-12xs) 0 0;
//   box-sizing: border-box;
//   max-width: 100%;
//   gap: var(--gap-xl);
// }
// .imageContainer,
// .imageContainerParent {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
// .imageContainer {
//   width: 904px;
//   flex-direction: row;
//   padding: 0 var(--padding-base);
//   box-sizing: border-box;
//   max-width: 100%;
// }
// .imageContainerParent {
//   width: 928px;
//   flex-direction: column;
//   gap: var(--gap-3xs);
//   font-size: var(--font-size-xs);
//   color: var(--color-mediumaquamarine);
// }
// .bgBlurIcon {
//   height: 100%;
//   width: 100%;
//   z-index: 1;
//   object-fit: contain;
//   position: absolute;
//   left: 0;
//   top: 0;
//   transform: scale(2.256);
// }
// .wrapperBgBlur {
//   height: 403px;
//   width: 1919.9px;
//   position: absolute;
//   margin: 0 !important;
//   bottom: -251px;
//   left: -496px;
//   z-index: 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .transform {
//   width: 928px;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   position: relative;
// }
// .image35Icon {
//   height: 76px;
//   width: 138.6px;
//   position: absolute;
//   margin: 0 !important;
//   top: calc(50% - 38px);
//   left: 0;
//   object-fit: cover;
// }
// .image35Wrapper {
//   cursor: pointer;
//   border: 0;
//   padding: var(--padding-3xs) 0;
//   background-color: transparent;
//   height: 44px;
//   width: 145px;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   box-sizing: border-box;
//   position: relative;
// }
// .matrix {
//   position: relative;
//   line-height: 24px;
//   display: inline-block;
//   min-width: 19px;
// }
// .constant,
// .frameContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: var(--padding-3xs) 0 0;
// }
// .frameContainer {
//   width: 248px;
//   flex-shrink: 0;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 0 var(--padding-31xl) 0 0;
//   box-sizing: border-box;
//   gap: var(--gap-xl);
// }
// .div7 {
//   position: relative;
//   line-height: 24px;
// }
// .wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: var(--padding-3xs) 0 0;
// }
// .dequeue,
// .xfsde3eedsd1e12wdsadasd {
//   position: relative;
//   line-height: 24px;
// }
// .dequeue {
//   display: inline-block;
//   min-width: 54px;
// }
// .xfsde3eedsd1e12wdsadasdParent {
//   align-self: stretch;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
//   gap: var(--gap-xl);
// }
// .row4,
// .row4Inner {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   box-sizing: border-box;
// }
// .row4Inner {
//   width: 320px;
//   flex-shrink: 0;
//   flex-direction: column;
//   padding: var(--padding-3xs) 0 0;
// }
// .row4 {
//   width: 928px;
//   border-radius: var(--br-xs);
//   background-color: var(--color-darkslategray-300);
//   overflow-x: auto;
//   flex-direction: row;
//   padding: var(--padding-base) 0;
//   gap: var(--gap-60xl);
//   z-index: 2;
// }
// .image35Icon1 {
//   height: 76px;
//   width: 138.6px;
//   position: absolute;
//   margin: 0 !important;
//   top: calc(50% - 38px);
//   left: 0;
//   object-fit: cover;
// }
// .image35Container {
//   cursor: pointer;
//   border: 0;
//   padding: var(--padding-3xs) 0;
//   background-color: transparent;
//   height: 44px;
//   width: 145px;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   box-sizing: border-box;
//   position: relative;
// }
// .div8 {
//   position: relative;
//   line-height: 24px;
//   display: inline-block;
//   min-width: 19px;
// }

// .frameDiv {
//   width: 198px;
//   flex-direction: row;
//   justify-content: space-between;
//   gap: var(--gap-xl);
// }
// .div9 {
//   position: relative;
//   line-height: 24px;
// }
// .frame {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: 0 var(--padding-5xs) 0 0;
// }
// .forEach,
// .xfsde3eedsd1e12wdsadasd1 {
//   position: relative;
//   line-height: 24px;
// }
// .forEach {
//   display: inline-block;
//   min-width: 49px;
// }
// .frameParent1 {
//   align-self: stretch;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
//   gap: var(--gap-xl);
// }
// .row5Inner {
//   width: 481px;
//   flex-direction: column;
//   padding: var(--padding-3xs) 0 0;
//   box-sizing: border-box;
//   max-width: 100%;
// }
// .function,
// .row5,
// .row5Inner,
// .store {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
// .row5 {
//   width: 928px;
//   border-radius: var(--br-xs);
//   background-color: var(--color-darkslategray-300);
//   flex-direction: row;
//   padding: var(--padding-base) 0;
//   box-sizing: border-box;
//   gap: var(--gap-110xl);
//   z-index: 2;
// }
// .function,
// .store {
//   flex-direction: column;
//   max-width: 100%;
// }
// .store {
//   width: 928px;
//   overflow-x: auto;
//   gap: var(--gap-base);
//   text-align: left;
// }
// .function {
//   align-self: stretch;
//   gap: var(--gap-23xl);
//   font-size: var(--font-size-base);
// }
// .arrowsIcon {
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
//   position: absolute;
//   left: 0;
//   top: 0;
//   transform: scale(2.75);
// }
// .wrapperArrows {
//   width: 100px;
//   height: 40px;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .frameGroup,
// .frameWrapper {
//   display: flex;
//   max-width: 100%;
// }
// .frameGroup {
//   width: 928px;
//   flex-direction: column;
//   align-items: flex-end;
//   justify-content: flex-start;
//   gap: var(--gap-13xl);
// }
// .frameWrapper {
//   align-self: stretch;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: center;
//   padding: 0 var(--padding-xl) var(--padding-68xl);
//   box-sizing: border-box;
// }
// .title3 {
//   margin: 0;
//   width: 174px;
//   position: relative;
//   font-size: inherit;
//   font-weight: 800;
//   font-family: inherit;
//   display: inline-block;
// }
// .titleWrapper {
//   align-self: stretch;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: center;
//   padding: 0 var(--padding-xl);
// }
// .illustrationIcon {
//   height: 150px;
//   flex: 1;
//   position: relative;
//   max-width: 100%;
//   overflow: hidden;
//   object-fit: cover;
// }
// .illustrationWrapper {
//   align-self: stretch;
//   height: 150px;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: 0 var(--padding-mini);
//   box-sizing: border-box;
// }
// .description1,
// .title4 {
//   align-self: stretch;
//   position: relative;
//   line-height: 22px;
//   font-weight: 800;
// }
// .description1 {
//   font-size: var(--font-size-sm);
//   font-weight: 500;
// }
// .titleParent {
//   align-self: stretch;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   gap: var(--gap-5xs);
// }
// .btItem {
//   height: 44px;
//   width: 170px;
//   position: relative;
//   border-radius: var(--br-3xs);
//   background-color: var(--color);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
//   backdrop-filter: blur(80px);
//   border: 1px solid var(--color-gray-600);
//   box-sizing: border-box;
//   display: none;
// }
// .connectWallet1 {
//   flex: 1;
//   position: relative;
//   font-size: var(--font-size-base);
//   line-height: 24px;
//   font-family: var(--h2);
//   color: var(--color-white);
//   text-align: center;
//   z-index: 1;
// }
// .bt1,
// .btWrapper {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
// .bt1 {
//   cursor: pointer;
//   border: 1px solid var(--color-gray-600);
//   padding: var(--padding-3xs) var(--padding-base);
//   background-color: var(--color);
//   flex: 1;
//   border-radius: var(--br-3xs);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
//   backdrop-filter: blur(80px);
//   white-space: nowrap;
// }
// .btWrapper {
//   align-self: stretch;
//   padding: 0 var(--padding-16xl);
// }
// .bgBlurIcon1,
// .wrapperRectangle16Child {
//   position: absolute;
//   top: 0;
//   left: -345px;
//   width: 1067.5px;
//   height: 819.1px;
//   object-fit: contain;
// }
// .wrapperRectangle16Child {
//   width: 100%;
//   height: 100%;
//   z-index: 2;
//   left: 0;
//   transform: scale(2.522);
// }
// .wrapperRectangle16 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   border-radius: var(--br-3xs);
//   width: 92px;
//   height: 46px;
//   z-index: 2;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .div10 {
//   position: absolute;
//   top: 11px;
//   left: 40px;
//   font-weight: 800;
//   display: inline-block;
//   min-width: 12px;
//   z-index: 3;
// }
// .wrapperRectangle16Parent {
//   position: absolute;
//   top: 439px;
//   left: 479.3px;
//   width: 92px;
//   height: 46px;
// }
// .layoutConstraints {
//   width: 722.5px;
//   height: 819.1px;
//   position: absolute;
//   margin: 0 !important;
//   top: -462px;
//   left: -390px;
//   font-size: var(--font-size-lgi);
//   color: var(--color-white);
// }
// .card {
//   flex: 0.8889;
//   border-radius: var(--br-6xl);
//   background-color: var(--color-darkcyan-100);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
//   backdrop-filter: blur(80px);
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: var(--padding-23xl) var(--padding-mini) var(--padding-base);
//   box-sizing: border-box;
//   position: relative;
//   gap: var(--gap-xl);
//   min-width: 248px;
//   max-width: 270px;
//   z-index: 1;
// }
// .vectorIcon {
//   width: 257.1px;
//   height: 0;
//   position: relative;
// }
// .frameChild {
//   height: 140px;
//   flex: 1;
//   position: relative;
//   max-width: 100%;
//   overflow: hidden;
//   object-fit: cover;
// }
// .illustrationInner {
//   align-self: stretch;
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-end;
//   padding: 0 2.899999999999636px 0 var(--padding-10xs);
// }
// .vectorIcon1 {
//   width: 257.1px;
//   height: 0;
//   position: relative;
// }
// .illustration,
// .illustrationContainer {
//   display: flex;
//   justify-content: flex-start;
// }
// .illustration {
//   align-self: stretch;
//   width: 170.1px;
//   overflow: hidden;
//   flex-shrink: 0;
//   flex-direction: column;
//   align-items: flex-end;
//   gap: var(--gap-8xs);
// }
// .illustrationContainer {
//   flex: 1;
//   flex-direction: row;
//   align-items: flex-start;
//   padding: 0 var(--padding-16xl) 0 34.899999999999636px;
// }
// .description2,
// .title5 {
//   align-self: stretch;
//   position: relative;
//   line-height: 22px;
//   font-weight: 800;
// }
// .description2 {
//   font-size: var(--font-size-sm);
//   font-weight: 500;
// }
// .saturationFilter {
//   align-self: stretch;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   gap: var(--gap-5xs);
// }
// .card1,
// .wrapperRectangle16Item {
//   width: 100%;
//   position: absolute;
//   left: 0;
// }
// .card1 {
//   top: 23.9px;
//   border-radius: var(--br-6xl);
//   background-color: var(--color-darkcyan-100);
//   box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
//   backdrop-filter: blur(80px);
//   height: 387.1px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   padding: var(--padding-23xl) var(--padding-mini) 79.09999999999991px;
//   box-sizing: border-box;
//   gap: var(--gap-xl);
// }
// .wrapperRectangle16Item {
//   height: 100%;
//   z-index: 1;
//   object-fit: contain;
//   top: 0;
//   transform: scale(2.461);
// }
// .wrapperRectangle161 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   border-radius: var(--br-3xs);
//   width: 92px;
//   height: 47.9px;
//   z-index: 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .div11 {
//   position: absolute;
//   top: 11.4px;
//   left: 40px;
//   font-weight: 800;
//   display: inline-block;
//   width: 12px;
//   height: 23.9px;
//   min-width: 12px;
//   z-index: 2;
// }
// .wrapperRectangle16Group {
//   position: absolute;
//   top: 0;
//   left: 89.3px;
//   width: 92px;
//   height: 47.9px;
//   font-size: var(--font-size-lgi);
//   color: var(--color-white);
// }
// .cardGroup {
//   height: 411px;
//   flex: 1;
//   position: relative;
//   min-width: 248px;
//   max-width: 270px;
// }
// .cardParent {
//   align-self: stretch;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-end;
//   justify-content: center;
//   gap: var(--gap-xl);
//   font-size: var(--font-size-base);
//   color: var(--a7d7cf);
// }
// .frameParent,
// .homeInner {
//   display: flex;
//   align-items: flex-start;
//   max-width: 100%;
// }
// .frameParent {
//   width: 1140px;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: var(--gap-45xl);
// }
// .homeInner {
//   align-self: stretch;
//   flex-direction: row;
//   justify-content: center;
//   padding: 0 var(--padding-xl) var(--padding-46xl);
//   box-sizing: border-box;
//   text-align: center;
//   font-size: var(--h2-size);
//   color: var(--color-white);
//   font-family: var(--h2);
// }
// @media screen and (max-width: 1400px) {
//   .frameWrapper {
//     padding-bottom: var(--padding-38xl);
//     box-sizing: border-box;
//   }
//   .cardParent {
//     flex-wrap: wrap;
//   }
//   .frameParent {
//     gap: 32px 64px;
//   }
//   .homeInner {
//     padding-bottom: var(--padding-23xl);
//     box-sizing: border-box;
//   }
// }
// @media screen and (max-width: 925px) {
//   .title {
//     font-size: var(--font-size-5xl);
//   }
//   .condition,
//   .div {
//     font-size: var(--font-size-32xl);
//   }
//   .h1 {
//     font-size: var(--font-size-40xl);
//   }
//   .div1,
//   .div2,
//   .div3 {
//     font-size: var(--font-size-32xl);
//   }
//   .h11 {
//     font-size: var(--font-size-40xl);
//   }
//   .div4,
//   .div5,
//   .div6,
//   .h12 {
//     font-size: var(--font-size-32xl);
//   }
//   .countdown,
//   .dropdownMenu,
//   .tableHeader {
//     flex-wrap: wrap;
//   }
//   .frameWrapper {
//     padding-bottom: var(--padding-18xl);
//     box-sizing: border-box;
//   }
//   .title3 {
//     font-size: var(--font-size-5xl);
//   }
//   .frameParent {
//     gap: 16px 64px;
//   }
//   .homeInner {
//     padding-bottom: var(--padding-8xl);
//     box-sizing: border-box;
//   }
// }
// @media screen and (max-width: 450px) {
//   .title {
//     font-size: var(--h3-size);
//   }
//   .condition,
//   .div {
//     font-size: var(--font-size-19xl);
//   }
//   .h1 {
//     font-size: var(--font-size-25xl);
//   }
//   .div1,
//   .div2,
//   .div3 {
//     font-size: var(--font-size-19xl);
//   }
//   .h11 {
//     font-size: var(--font-size-25xl);
//   }
//   .div4,
//   .div5,
//   .div6,
//   .h12 {
//     font-size: var(--font-size-19xl);
//   }
//   .content {
//     gap: 16px 32px;
//   }
//   .frameParent1,
//   .input,
//   .xfsde3eedsd1e12wdsadasdParent {
//     flex-wrap: wrap;
//   }
//   .function {
//     gap: 21px 42px;
//   }
//   .frameGroup {
//     gap: 16px 32px;
//   }
//   .title3 {
//     font-size: var(--h3-size);
//   }
//   .card {
//     padding-top: var(--padding-8xl);
//     flex: 1;
//   }
//   .card,
//   .homeInner {
//     padding-bottom: var(--padding-xl);
//     box-sizing: border-box;
//   }
// }