@import "../../../../assets/scss/base";

.winner_counter {
  position: $relative;
  .heading_title {
    @include flexCenter;
    @include flex-direction(column);
    margin: 0 auto;
    gap: 1rem;

    h2,
    p {
      margin: 0;
    }
  }

  &_content {
    @media (min-width:992px) {
      max-width: 761px;
      margin: 0 auto;
    }
  }
}

.subtitle {
  @include border-radius(12px);
  background: $dark-green-color-600;
  @include flexCenter;
  padding: 8px 16px;
  @include font-size(1.063);
  margin: 1rem auto;
  max-width: 570px;

  span {
    font-size: inherit;
    text-align: center;
    color: $white-color;
  }
}

.tableHeaderinfo {
  @media (max-width:767px) {
    gap: 2rem;
  }
}

.wallet-link {
  @media (max-width:767px) {
    @include justify-content(space-between);
  }
}

.table_wallet_secn{
  @media (min-width:1200px) {
    max-width: 928px;
    margin:48px $auto;
  }
}
.table_slider {
  margin: 32px 0;

  .prize_table {
    table {
      border-collapse: separate;
     border-spacing: 0 1rem;
      thead {
        th {
          background: transparent;
          color: $green-tin-color-600;
          @include font-size(0.875);
          font-style: $normal;
          font-weight: $font-mediumbold;
          line-height: 14px; 
          text-transform: $uppercase;
          padding:0.625rem 1.5rem 0;
          &:last-child {           
            padding-right:30px;
          }
        }
      }
      tbody {
        tr {
          background: $dark-green-color-600;
          
          td {
            background: transparent;
            color: $white-color;
            padding:16px 24px 16px 24px;
            @include font-size(1);
            line-height: 1.5;
            vertical-align: middle;
            word-wrap: break-word;
            &:first-child {
              @include border-radius(12px 0 0 12px);
              padding: 0;
            }
            &:last-child {
              @include border-radius(0 12px 12px 0);
             padding-right: 30px;
            }
          }
        }
      }
    }
  }
}
.loopControl {
  .text-value {
    font-weight: $font-mediumbold;
  }
}
.prize_secn_bg {
  @include position($absolute, $left:0px, $top:0);
  height: 100%; 
  z-index: -1;
  @media (max-width:1200px) {
       $top:-72px;
  }
}