@import "../../../../assets/scss/base";

.winner_counter {
  position: $relative;  
  &_content {
    @media (min-width:992px) {
      max-width: 761px;
      margin: 0 $auto;
    }
  }
}

.subtitle {
  background: $dark-green-color-600;
  @include border-radius(12px);
  font-weight: $font-medium;
  @include font-size(1.06);
  margin: 1rem $auto;
  padding: 8px 16px;
  margin-top: 32px;
  max-width: 570px;
  line-height: 1.1;
  text-align: $center;
  @media (max-width:767px){
    @include font-size (.875);
    margin-bottom: 32px;
  }
  span {
    font-size: $inherit;
    color: $white-color;
  }
}

.tableHeaderinfo {
  @media (max-width:767px) {
    gap: 2rem;
  }
}

.wallet-link {
  @media (max-width:767px) {
    @include justify-content(space-between);
  }
}

.table_wallet_secn{
  @media (min-width:1200px) {
    max-width: 928px;
    margin:48px $auto;
  }
}

.output {
  span {
    @include font-size (1);
  }
}

.table_slider {
  margin: 32px 0 15px;
  @at-root {
    .prize_table {
      table {
        margin-bottom: 0;
        @media (min-width:991.99px) {
          border-collapse: separate;
          border-spacing: 0 1rem;
          display: table !important;
        }
        thead {
          th {
            background: $transparent;
            color: $green-tin-color-600;
            @include font-size(0.725);
            font-style: $normal;
            font-weight: $font-mediumbold;
            line-height: 14px; 
            text-transform: $uppercase;
            padding:0.625rem 1.5rem 0;
            &:last-child {           
              padding-right:30px;
            }
            // Responsive
            @media (max-width:991px) {
              display: $none;
            }
          }
        }
        tbody {
          @media (max-width:991px) {
            display: $block;
          }
          tr {
            @media (max-width:991px) {
              display: $block;
              margin-bottom: 20px;
              @include border-radius (12px);
              padding: 10px 0;
              background: $dark-green-color-600;
              &:last-child {
                margin-bottom: 0;
              }
              // &:first-child {
              //   .td_img { 
              //     margin-top: -20px;
              //   }
              // }
            }
            td {
              background: $dark-green-color-600;
              padding:16px 24px 16px 24px;
              text-transform: uppercase;
              @include font-size(1);
              color: $white-color;
              line-height: 1.5;
              vertical-align: middle;
              word-wrap: break-word;
              text-align: $left;
              &:first-child {
                @media (min-width:991.99px){
                  @include border-radius(12px 0 0 12px);
                  padding: 8px 10px;
                }
              }
              &:last-child {
                @media (min-width:991.99px){
                  @include border-radius(0 12px 12px 0);
                  padding-right: 30px;
                }
              }
              .td_img {
                max-width: 92px;
                display: $inline-block;
                @media (max-width:991px){ 
                  max-width:110px;
                }
                img { 
                  max-width: 100%;
                }
              }
              // Responsive
              @media (max-width:991px) {
                background: $transparent;
                display: $block;
                padding: 6px 12px; 
                padding-left: 40%;
                text-align: $right;
                position: $relative;
                @include font-size (.875);
                @media (max-width:360px){
                  @include font-size (.725);
                }                
                &::before {
                  content: attr(data-label);
                  width: 40%;
                  line-height: 1;
                  text-align: $left;
                  padding-left: 10px;
                  display: $inline-block;
                  @include font-size (.725);
                  color: $green-tin-color-600;
                  font-weight: $font-semibold;
                  @include position($absolute, $left: 0, $top: 50%);
                  @include transform (translateY(-50%)); 
                }
              }
            }
          }
        }
      }
    }
  }
  // Slick Arrows
  .slick {
    &-arrow {
      bottom:0;            
      @media (min-width:1200px) {
        top:calc(100% + 32px);
      }
    }
    &-prev {
      left: $auto;
      right: 60px;
    }
    &-next {
      right: 0;
    }
  }
}

.loopControl {
  font-weight: $font-mediumbold;
}

.prize_secn_bg {
  @include position($absolute, $left:0px, $bottom:20%);
  height: 100%; width: 100%;
  z-index: -1;
  @media (max-width:1200px) {
    $top:-72px;
  }
  img {
    object-fit: $contain;
    object-position: bottom; 
  }  
  @media (max-width:575px) {
    
  }
}

.market-cap {
  font-weight: $font-mediumbold;
  text-transform: $uppercase;
  @include font-size (.725);
}