@import '../../../../assets/scss/base';

.roadMap_sec {
  @media (min-width:992px) {
    padding: 110px 0;
  }
}

.road_title {
  @media (min-width:767.99px){
    margin-bottom: 80px;
  }
  @media (max-width:767px){
    margin-bottom: 30px;
  }
}
.line {
  position: $absolute;
  left: calc(-50% + 12px);
  top: 40%;
  width: 100%;
  height: 56px;
  @media (max-width:1200px) {
    height: 75px;
  }
  @media (max-width:767px) {
    display: $none;
  }
}


.roadmap_wrap {
  .slick-arrow {
    @media (min-width:991px){
      @include position($absolute, $top:-100px);
    }
    &.slick{
      &-next {
        @media (min-width:1200.99px){
          right:calc(50vw - 1140px / 2);
        }
      }
      &-prev {
        left: $auto;
        @media (min-width:1200.99px){
          right:calc(50vw - 1140px / 2 + 60px);
        }
      }
    }
  }
  .slick-track {
    @media (min-width:1200.99px){
      @include flexbox;
    }
  }
  .slick-slide {
    // &:first-child {
    //   .timeline-item{
    //     &::before {
    //       display: $none;
    //     }
    //   }
    // }
    &:nth-child(odd){
      .timeline_block {
        top: calc(50% + 30px);
      }
    }
  }

  .timeline_block {
    @media (min-width:767.99px){
      max-width: 90%;
      @include opacity (.7);
      position: $absolute;
      left: 5%;
    }
    .h6 {
      margin-bottom: 3px;
    }
    span {
      color: $white-color;
    }
    p {
      margin-top: 3px;
      color: $text-color;
      @include font-size (.875);
    }
  }

  .timeline-item {
    @media (min-width:767.99px){
      position: $relative;
      height: 500px;
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        background: $dark-green-color-400;
        border: 6px solid $transparent;
        filter: drop-shadow(0px 0px 30px rgba(98, 153, 144, 0.75));
        @include border-radius (50%);
        position: $absolute;
        top: calc(40% - 7px);
        left: 50%;
        z-index: 1;
        @media (max-width:1750px){
          top: calc(50% - 53px);
        }
      }
    }
    &.active {
      .timeline_block {
        @include opacity (1);
      }
      &::before {
        @media (min-width:767.99px){
          background-color: $green-tin-color-700;
          border-color: $text-color;
          width: 32px;
          height: 32px;
          top: calc(40% - 10px);
        }
        @media (min-width:767.99px) and (max-width:1670px){
          top: calc(40% - 7px);
        }
      }
      .line {
        path {
          stroke: $text-color;
        }
      }
    }
  }
}

.roadmap_bg {
  pointer-events: $none;
  @media (min-width:767.99px){
    @include position($absolute, $left:0, $top:-30%);
    width: 100%; height: 100%;
    pointer-events: $none;
  }
  @media (max-width:767px){
    @include position($absolute, $right:0, $top:0%);
  }
}

// RoadMap Responsive
@media (max-width:767px){
  .roadmap_wrap {
    padding:0 15px 80px;
    .slick-track {
      @include flex-direction (column);
    }
    .slick-slide {
      width: 100%!important;
      // @for $i from 0 through 9 {
      //   &:nth-child(#{$i}) {
      //     padding-left: 7px * $i; // Increase margin by 10px for each nth-child
      //   }
      // }
    }
    .timeline-item {
      position: $relative;
      padding-left: 30px;
      max-width: 90%;
      &::before {
        content: '';
        width: 17px;
        height: 17px;
        @include border-radius (50%);
        border: 4px solid $transparent;
        background: $dark-green-color-400;
        filter: drop-shadow(0px 0px 30px rgba(98, 153, 144, 0.75));
        @include position($absolute, $left:0, $top:0);
        z-index: 1;
      }
      &::after {
        content: '';
        width:2px;
        height:100%;
        background-color: $dark-green-color-400;
        @include position($absolute, $left:8px, $top:10px);
        z-index: -1;
      }
      &.active {
        &::before {
          background: $green-tin-color-700;
          border-color: $text-color;
          width: 20px;
          height: 20px;
        }
        &::after {
          background-color: $text-color;
        }
      }
      .timeline_block {
        margin-bottom: 20px;
        @media (max-width:575px){
          margin-bottom: 12px;
        }
        .h6 {
          @include font-size (0.938);
        }
      }
    }
  }
}