@import '../../../../assets/scss/base';

$size400: 400px;

.premium-token-inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: $center;
    @media (min-width:992px) {
        grid-template-columns: 468px 1fr;
    }
    .token-text {
        h2 {
            margin-bottom: 12px;
        }
        .comming-soon {
            text-transform: none;
            @include font-size(0.875);
            min-width: 240px;
            gap: 40px;
            @include flexCenter;
            margin: $auto;
            span {
                color: $white-color;
                line-height: 1;
            }
        }

        P {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 40px;
            line-height: 24px;
        }
    }

    .premium-image {
        z-index: 1;
        position: relative;
        text-align: right;
        margin-inline: -17px;

        &::before {
            content: "";
            width: calc($size400);
            height: calc($size400);
            position: absolute;
            top: 50%;
            right: -67px;
            background-color: rgb(56 153 137 / 25%);
            transform: translateY(-50%);
            @include border-radius(0 200px 0 200px);
            filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.05));
            backdrop-filter: blur(40px);
            z-index: -1;

            @media (min-width:1440px) {
                width: calc($size400 + 85px);
                height: calc($size400 + 85px);

            }
        }
    }
}


.premium_token_bg {
    @include position($absolute, $right: 0px, $bottom: 100px);
    height: 100%;
    z-index: -1;
    @media (max-width:1200px) {
        
    }

}