@import "assets/scss/base";
@import "assets/scss/theme.scss";

$MobileBg: url(assets/img/mobile_group_bg.png);
.mobile_bg {
    @media (min-width:767.99px) and (max-width:1279px){
        background: $MobileBg $no-repeat;
        backdrop-filter: blur(100px);
        background-size: 60% 100%;
    }
    @media (max-width:767px){
        background: $MobileBg $no-repeat;
        background-size: 100%;
    }
}

// Connect Wallet
.wallet-adapter-modal {
    &-wrapper {
        background-color: $bg-green-390;
    }
    &-button-close {
        background-color: $transparent;
        padding: 0;
        svg {
            path {
              color: $white-color;
            }
        }
    }
}