@import "assets/scss/base";
@import "assets/scss/theme.scss";

$MobileBg: url(assets/img/mobile_group_bg.png);
.mobile_bg {
    @media (max-width:991px){
        background: $MobileBg $no-repeat;
        background-size: 100%;
    }
}