.imgIcon {
  height: 347.3px;
  width: 533.4px;
  position: relative;
  max-width: 100%;
}
.description,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-weight: 500;
  color: var(--a7d7cf);
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.heroiconsOutlinelink {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.httpsmoralisiosolanaSmar {
  width: 354px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 700;
  font-family: var(--h2);
  color: var(--a7d7cf);
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
  max-width: calc(100% - 32px);
}
.content,
.input {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-13xl);
  background-color: var(--color-darkslategray-500);
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.input:hover {
  background-color: var(--color-darkslategray-100);
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}
.heroiconsOutlinedocumentArr {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.downloadDocument {
  width: 131px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 24px;
  display: inline-block;
  font-family: var(--h2);
  color: var(--color-white);
  text-align: center;
}
.button,
.textContent {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color);
  height: 44px;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  flex-direction: row;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-lightseagreen);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.textContent {
  width: 450px;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  gap: var(--gap-13xl);
  min-width: 450px;
  max-width: 100%;
}
.auditSection,
.connectionMaker {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.auditSection {
  width: 1146.4px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.connectionMaker {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-7xl) 137.39999999999964px var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--h2);
}
@media screen and (max-width: 1400px) {
  .imgIcon,
  .textContent {
    flex: 1;
  }
  .auditSection {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 925px) {
  .title {
    font-size: var(--font-size-5xl);
  }
  .textContent {
    min-width: 100%;
  }
  .connectionMaker {
    padding-bottom: var(--padding-70xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--h3-size);
  }
  .textContent {
    gap: 16px 32px;
  }
}
