@import '../../../../assets/scss/base';

.connectionMaker {
    @media (min-width:1200.99px){
        padding-top: 150px;
        margin-bottom: 150px;
    }
    @media (max-width:1200px){
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .maker-image {
        max-width: 533px;
        @media (max-width:991px){
            margin: 0 $auto;
        }
    }
    .maker-grid {
        .maker-text-col {
            max-width: 450px;
            @media (max-width:991px) {
                margin: 30px $auto 0;
            }
            h2 {
                margin-bottom: 12px;
                color: $green-tin-color-600;
            }
            .link-button {
                border: 0;
                min-height: 44px;
                @include border-radius (10px);
                background: $dark-green-color-400;
                padding: 8px 32px 8px 10px;
                @include flexbox;
                @include align-items(center);
                width: 100%;
                margin-bottom: 15px;
                text-align: $left;
                &:nth-last-of-type(1) {
                    margin-bottom: 32px;
                }
                span {
                    color: $text-color;
                    text-overflow: ellipsis;
                    @include font-size (1);
                    font-weight: $font-bold;
                    overflow: $hidden;
                    line-height: 24px;
                    white-space: nowrap;
                    width: max-content;
                }
            }
            p {
                color: $white-color;
                font-size: $font-15;
                font-weight: 500;
                margin-bottom: 20px;
                line-height: 24px;
            }
        }
    }
}

.external_audit_bg {
    @include position($absolute, $left:0px, $bottom:60%);
    height: 100%;
    z-index: -1;
    @media (min-width:1200px) {
        @include transform (scale(1.6));
    }
    @media (max-width:1200px) {
        bottom:72px;
    }
}